[2012-06-04 12:33] rufuspollock opened #1 "Switch to feedburner for blog.okfn.org"
cf blog.openspending.org

[2012-06-04 12:33] rufuspollock opened #2 "Switch to feedburner for blog.okfn.org"
cf blog.openspending.org

[2012-06-04 12:33] rufuspollock opened #3 "Better front page with more content"
- Fix the carousel images to be better esp change the default one to OKCon or similar ...
- Add content below carousel ...
  - Small well style items with links
  - Latest activity as per okfnlabs.org ...
### Content (moved from #18)

Homepage copy needs some attention. I think it needs too be easier for someone visiting for the first time to understand what we do and what we offer.

For example:

[2012-06-10 08:24] rufuspollock opened #4 "okfn.org family of websites should interlink more"
Use wordpress link options (can one auto-import)?

Set of example links:
- http://okfn.org/
- http://okfn.org/wg/
- http://okfn.org/projects
- http://datahub.io/
- http://ckan.org/
- http://openspending.org/
- http://pybossa.com/
- http://textusproject.com/
- http://opengovernmentdata.org/
- http://opendefinition.org/

[2012-06-10 08:28] rufuspollock opened #5 "TextusProject.org has no links to okfn.org and not very clear logo"
cf #4

[2012-06-10 08:29] rufuspollock commented on #4
@samleon this is probably for Joris but he is not yet on github so I couldn't assign him!

[2012-06-11 10:21] rufuspollock opened #6 "Better projects page"
- Block of flagship projects (CKAN, Open Spending, School of Data, TEXTUS, Public Domain Review , Open Definition, Open Shakespeare) - almost done
- Labs Projects (ReclineJS, PyBossa, AnnotateIt)
- All Projects

See also #23
## Not doing

Need a nicer and better projects page.
- Create sections - Government, Digital Humanities, Data Tools, Cool Stuff
- Create a project page for each project

Get e

[2012-06-11 10:21] rufuspollock opened #7 "Better images on okfn.org pages"
Remove some of the slightly random images on some of the pages e.g. /wg and /projects

[2012-06-11 10:30] lauranewman commented on #7
Already gone from /wg. Suggest this ticket is merged with #6, specifically to improve /projects page.

[2012-06-11 10:30] #7 closed, assigned to nobody

[2012-06-11 10:31] lauranewman commented on #6
NB: remove unnecessary photos as part of clean-up.

[2012-06-11 11:14] #2 closed, assigned to nobody

[2012-06-11 11:14] rufuspollock commented on #2
Duplicate of #1.

[2012-06-11 11:15] rufuspollock opened #8 "Use new Working Group logos"
Use on http://okfn.org/wg/

[2012-06-11 11:17] rufuspollock opened #9 "Embed group members on working group website"
Would be good if we could embed member list from http://okfn.org/groups/{...} on a working group website.

[2012-06-11 11:21] rufuspollock opened #10 "Clear routes to most important items"
- Who we are
- What we do
  - Working groups
  - Projects
  - Local groups
- Get involved / Do Something!

[2012-06-11 11:55] ghost commented on #4
Assigned myself

[2012-06-12 10:41] smth commented on #10
I think this is somewhat improved in the latest design for the homepage https://github.com/okfn/okfn.org/raw/master/designs/okfn_05_home_02.jpg

[2012-06-12 14:45] rufuspollock commented on #10
Agreed. That looks really good. When could that get merged into the site?

[2012-06-12 15:02] smth commented on #10
Any time really. I have a working version here http://staging.okfn.org/ so would be easy to switch.

There a few new things new things here:
- The tweaked content.
- The new colour scheme, to make it look less like a default Bootstrap site.
- The banner; the idea is to create the montage dynamically from Flickr, we haven't built that yet though so it is just a single image.

If you are happy, I'll

[2012-06-13 07:54] rufuspollock opened #11 "Prominent links to Facebook and Twitter"
At present the top right links in buddypress bar are actually share this buttons **not** links to our Facebook or Twitter account (which is what I expected).
- I would remove these as I don't think that many people just want to share a given page
- I don't think we want these in top bar. I wonder if we could put these instead (with nice icons) in the main navbar (alternatively we can put in the fo

[2012-06-13 09:21] smth commented on #11
Like this? https://github.com/okfn/okfn.org/raw/691cd7cc531aa7fb10c6d84c7e48dba7d3b753db/designs/okfn_05_home_02b.jpg

[2012-06-13 09:40] rufuspollock commented on #11
Yes.

[2012-06-13 15:25] smth commented on #11
Done

[2012-06-13 15:25] #11 closed, assigned to nobody

[2012-06-15 06:23] lauranewman opened #12 "Settings for for non-staff members"
[Not sure if this is the best place for this issue - feel free to move if not.]

The current profile options are confusing for non-staff members who create an OKFN profile via okfn.org/register.

The most prominent options (under 'Welcome xxxx xxxx') are 'Dashboard' and 'Profile', but users without wp access get an auto response saying they don't have permission to access these areas. Additionally

[2012-06-15 08:18] smth commented on #12
Is this in the sidebar? I guess the plugin isn't smart enough for this. We could remove those options for everyone?

[2012-06-15 08:22] lauranewman commented on #12
Yep, in the sidebar. I think removing those options is probably best - I think most staff members get into the Dashboard via wp-admin anyway.

[2012-06-15 09:45] smth commented on #12
Done. For future reference, those links can be added and removed via settings.

[2012-06-15 09:45] #12 closed, assigned to nobody

[2012-06-20 10:16] ghost opened #13 "website's header dropdown menu does not display any of the secondary/dropdown links in IE9, 8 and 7."

[2012-06-20 10:18] ghost opened #14 "site not to be valid xHTML 1.0 transitional"

[2012-06-20 10:23] smth commented on #13
This is presumably in reference to the menus appearing behind other elements on the page?

[2012-06-20 11:17] smth commented on #14
I have changed the doctype and cleaned up the theme markup a bit. The only thing stopping the site validating now is WordPress wrapping code in paragraph tags (In my opinion this is horrible for all sorts of reasons). This can be discussed here #15

[2012-06-20 11:24] smth opened #15 "Code Wrapped in <p>"
WordPress wrapping HTML (in HTML view!) in paragraph tags causes several problems, such as adding spaces on the page and making the markup invalid (#14). One solution would be using a plugin, such as http://wordpress.org/extend/plugins/raw-html/

[2012-06-20 11:25] #14 closed, assigned to nobody

[2012-06-20 16:19] rufuspollock opened #16 "Carousel images not in git assets repo"
I suspect this is because the relevant file has not been pushed to assets.okfn.org git repo ...

[2012-06-20 19:15] rufuspollock opened #17 "OpenData page on okfn.org"
Proposed quite a while ago but still in progress. Really worth completing and launching IMO (RP).

[2012-06-21 15:13] smth commented on #13
Fixed

[2012-06-21 15:13] #13 closed, assigned to nobody

[2012-06-22 10:01] #10 closed, assigned to smth

[2012-06-22 11:31] #1 closed, assigned to nobody

[2012-06-22 11:33] ghost commented on #16
Seems to work, can I close this?

[2012-06-22 11:34] ghost commented on #3
First two are fixed, only the latest activity box remains

[2012-06-22 11:39] noelmas commented on #5
Links now there to OKFN

[2012-06-22 11:40] noelmas commented on #5
Sam Smith to be briefed on creating new logo

[2012-06-22 12:26] smth opened #18 "Homepage Content"
Homepage copy needs some attention. I think it needs too be easier for someone visiting for the first time to understand what we do and what we offer.

For example:
- "Incubate a project" seems like a strange use of language to me, perhaps "Propose a project" would be better.
- "Deploy CKAN" should probably be something like "CKAN, our open source data portal software"

[2012-06-22 13:25] smth commented on #8
Logos added

[2012-06-22 13:25] #8 closed, assigned to smth

[2012-06-22 13:56] noelmas opened #19 "New Logo for Open Archaeology and Open Linguistics"
Mainly for okfn.org/wg

[2012-06-22 14:05] smth commented on #3
I plan to add an RSS feed from http://planet.okfn.org/feed to the homepage, hopefully this will meet that demand. I have this working locally, but still need to style it.

[2012-06-22 14:39] ghost commented on #4
On every (relevant) webpage is now a footer which links to other related projects

[2012-06-22 14:39] #4 closed, assigned to nobody

[2012-06-22 14:42] ghost commented on #6
See: http://okfnpad.org/website-sprint for sections and comments

[2012-06-22 14:47] ghost commented on #9
The wordpress widget available makes it really ugly.

[2012-06-22 15:40] noelmas opened #20 "Create a set of bespoke designs for front page carousel"
Suggest the following should be covered:
1. OKFest
2. CKAN
3. Open Spending
4. School of Data
5. TEXTUS

[2012-06-22 15:47] rufuspollock commented on #9
Is there even a widget available?

[2012-06-22 16:06] rufuspollock opened #21 "List funders ..."
- Sort out 'supporters' page.
  - Add extra type: 'Funders'
    - Shuttleworth
    - Open Society Foundation (/ OSI)
    - Omidyar
    - Sloan Foundation
    - Knight
    - ...
- Pull out a selection of funders & collaborators for the footer of the site ...? cf http://pculture.org/

[2012-06-22 16:06] rufuspollock opened #22 "Collaborators page"
Rename 'partners' to 'collaborators'.
- Grab extra collaborators from list: https://docs.google.com/spreadsheet/ccc?key=0AnCtSdb7ZFJ3dDFuQnAtTTl0Ul9oX3k2NVBYWnVOSnc#gid=0

[2012-06-22 16:08] noelmas commented on #6
Implement carousel with flagship projects (CKAN, Open Spending, School of Data, TEXTUS)
Left hand column below other projects we want to highlight (Public Domain Review, Open Definition, Open Shakespeare)
Bottom of left hand side clicks through to "All Projects" page
Right hand column below Labs projects (ReclineJS, PyBossa, AnnotateIt)
Bottom of right hand side clicks through to "Labs"

[2012-06-22 16:13] rufuspollock commented on #4
@jpekel not quite sure i understand what has happened here. Do we now have these links in a footer widget on every site?

[2012-06-22 16:16] rufuspollock commented on #16
Not yet! I've changed the title to something more meaningful and left it open.

[2012-06-22 16:24] rufuspollock opened #23 "Projects drop-down in main menu should linke to main projects directly"
- E.g. at least "flagship" projects should be in there.
- Also move propose project to bottom (@mintcanary any way to get separators?)
- See also #6

[2012-06-22 16:26] rufuspollock opened #24 "Support / donate pages / site"
This is a discussion place for better donate / support pages.

[2012-06-22 16:31] rufuspollock opened #25 "meta fields e.g. description and keywords should be set"
- At least our summary sentence / description
- What about keywords?

[2012-06-22 16:31] rufuspollock opened #26 "opendata page"

[2012-06-22 16:36] rufuspollock opened #27 "Banner space for announcing bits of news (e.g. OKFestival)"

[2012-06-22 16:42] noelmas commented on #18
Make font size on homepage larger

[2012-06-22 16:44] noelmas commented on #18
Create carousel like ckan.org -- show:
1. OKFest 2. CKAN 3. Open Spending 4. Public Domain Review 5. Open Data Handbook 6. School of Data

[2012-06-22 16:45] rufuspollock commented on #26
DUPLICATE of #17

[2012-06-22 16:45] #26 closed, assigned to nobody

[2012-06-22 17:45] teajaymars commented on #16
Going to need info to prove this is duplicable. Have tested before & after deployment on multiple architectures and browsers.

[2012-06-22 18:23] rufuspollock commented on #16
Apologies. Had updated title to be clearer but did not save it seems. Have updated now. Note certain carousel _is_ working (it's about the images being in assets -- perhaps not supposed to be?)!

[2012-06-25 08:51] teajaymars commented on #16
Is this your local redirect of assets creating issues again? :-)

[2012-06-27 14:46] smth commented on #19
Done

[2012-06-27 14:46] #19 closed, assigned to nobody

[2012-06-29 12:03] smth commented on #6
This is how I see this working.
https://github.com/okfn/okfn.org/raw/master/designs/okfn_07_projects_01.jpg
What do you think?

[2012-06-29 12:06] rufuspollock commented on #6
I like this. Are we then having a separate page for "all" projects?

[2012-06-29 13:04] smth commented on #6
Yes. The idea is that the 'More' link would go to the archive page that you requested. Where as the Labs link would go to the labs site.

[2012-07-02 07:45] rufuspollock opened #28 "Ability to set a flash message"
Imagine this going where old tag line went. Used to advertise important things e.g.
- OKFestival
- Jobs
- ...

[2012-07-11 13:31] smth commented on #23
I don't think there is a way at the moment to add separators, but I have just added styling for a third level of menu items, so that could be another solution to the problem..

[2012-07-13 11:14] smth commented on #23
Flagship projects now in menu.

[2012-07-13 11:14] #23 closed, assigned to nobody

[2012-07-13 11:15] smth commented on #6
Implemented as design. Archive page is currently the old Projects page, this may need adding to.

[2012-07-13 11:15] #6 closed, assigned to smth

[2012-07-13 13:45] smth commented on #27
I think, as we discussed, the current banner space should be used for this: https://github.com/okfn/okfn.org/raw/master/designs/okfn_07_home_02.jpg

[2012-07-13 13:47] smth commented on #28
I think my answer to #27 also applies here. Do you want space for this on other pages too?

[2012-07-13 14:18] smth commented on #3
This is what I have in mind for latest activity: https://github.com/okfn/okfn.org/raw/master/designs/okfn_07_home_03.jpg

[2012-07-13 14:31] smth commented on #27
If we go ahead with this, proposed banners to create are in issue #20

[2012-07-13 16:42] rufuspollock commented on #28
I think it might be nice to do site wide (like old tag line ...) as a default.

If it were just one page I think we could just do with html and css in a given page ...

[2012-07-13 16:45] rufuspollock commented on #3
I really think the side-by-side as per CKAN is better as discussed on that day :-) Having some explanatory text works and that latest version still suffers from the fact that the text is basically hidden. So I'm a major +1 on the half and half approach of ckan.org

[2012-07-13 16:45] rufuspollock commented on #3
Also we haven't addressed further content issue but that's probably for later (and doesn't need to be designed) - see #18.

[2012-07-13 16:48] rufuspollock commented on #27
I can't see anything different in that diagram from the standard carousel. I'm thinking of something non-pictorial like the old tag line ...

[2012-07-13 17:01] smth commented on #3
The first comment is presumably regarding the banner. Text doesn't have to be hidden, that's more down to how it is implemented. I think we should agree what we want before worrying about how it will work. Personally I think it would be nice to have the freedom to put the wherever we like, but you keen to have the text always be 50% from the left?

I thought the further content issue had been reso

[2012-07-13 17:04] smth commented on #27
I thought we agreed that the carousel would be used for this..

[2012-07-13 17:07] smth commented on #28
I was thinking smaller versions of the homepage banners, in the sidebar.

[2012-07-14 14:40] rufuspollock opened #29 "Not clear how to log in as a community member"
Now that we have removed buddypress bar and sidebar for login not clear how to login to the site. Suggestions:
- Have a 'login' link in the footer so if people do search they find it
- Add prominent login stuff to, say, http://okfn.org/community/ web page and link prominently to community page ... (this raises wider question of improving community page)

In some ways this raises wider questions:
-

[2012-07-14 14:45] rufuspollock commented on #27
Not sure we did but if we did apologize because that wasn't what I meant.

First off #28 is clearly a duplicate of this so I'm going to close in favour of this. Second I think we do just want to have something like the old tag line that we can set (and unset).

I'd also say this wasn't super important compared to getting front page sorted out.

[2012-07-14 14:45] rufuspollock commented on #28
DUPLICATE of #27.

[2012-07-14 14:45] #28 closed, assigned to nobody

[2012-07-14 15:26] rufuspollock commented on #18
DUPLICATE. Merging with #3

[2012-07-14 15:26] #18 closed, assigned to nobody

[2012-07-14 15:30] rufuspollock commented on #3
OK: I've merged #18 with this.

Re rss ticker: I'm not absolutely sure. Can we park this while we sort out the actual layout of front page and then come back (minor aside: suggest new items like that go in a separate issue to make discuss easier).

[2012-07-17 13:57] vndimitrova opened #30 "Replace "[...]" with "..." in the RSS Feed"
Replace "[...]" with "..." in the RSS Feed.

Other options to make the Feed nicer?

[2012-07-17 14:31] smth commented on #30
To clarify, this is an issue of what is being output from the Wordpress blog feed (not how it is presented). WP adds [...] to the end of its excerpts. Not sure at the moment how easily this can be changed.

[2012-07-23 11:50] smth commented on #3
What needs to be laid out here? Is there additional content to go in?

The RSS ticker idea was in direct response to "Latest activity as per okfnlabs.org" in the original post, the (I thought) one remaining issue in this thread.

[2012-07-27 14:54] smth commented on #27
The problem with having something that can switch on and off, where the old tag-line was, is that it could potentially break the layout of some pages. I was thinking about making something like this https://github.com/okfn/okfn.org/raw/master/designs/corner-ribbon_01.jpg but it would obviously be limited in characters.

[2012-07-31 09:11] smth commented on #20
So are these no longer required (see #27)?

[2012-07-31 09:32] smth commented on #25
Our summary sentence is already used for the meta description.
There is no support in Wordpress for meta keywords, I could build something into the theme for this, if desirable.

[2012-07-31 10:24] smth commented on #29
Login form now on http://okfn.org/community/ (when not logged in), linked to from footer.

[2012-08-01 08:45] smth commented on #24
The "participate" link on the Support page is broken.

[2012-08-01 11:12] smth commented on #21
New footer design: https://github.com/okfn/okfn.org/raw/master/designs/okfn_08_home_01.jpg

[2012-08-01 11:59] rufuspollock commented on #21
not sure whether we want this in footer or on say http://okfn.org/support/thanks ...

Possbily both and the nice logos are good.

**Please note** we _must_ contact all funders and get their permission (plus preferred) logos before _any_ deployment.

[2012-08-03 10:25] smth commented on #30
Hi Velichka

I have just added a new template to the OKF wordpress theme, which you might want to try using for the Open Economics homepage. It's called 'Homepage', it will add the latest three blog posts to the bottom of the page, and supports images (in the same way the Magazine template does). If you have any problems with it, report them here https://github.com/okfn/wordpress-theme-okfn/issues

[2012-08-03 10:29] #30 closed, assigned to nobody

[2012-08-03 10:44] smth commented on #24
This discussion doesn't seem to be happening.. Is it worth me designing the content we already have?

[2012-08-03 10:48] rufuspollock commented on #24
No, this needs to a conversation with Sam Leon and others. Aim should probably be to schedule a phone call in next couple of weeks (once Sam is back).

[2012-08-03 10:49] smth commented on #22
Does this refer to okfn.org/partners? Is it linked to from anywhere? Should it be?

[2012-08-03 11:00] rufuspollock commented on #27
Suggest we try this out on science.okfn.org and okfn.org front page

[2012-08-03 11:01] rufuspollock opened #31 "Tag line on front page of okfn.org"
Do feel we still need a prominent one sentence

[2012-08-03 11:02] rufuspollock opened #32 "Text out of image on science.okfn.org and document process"
science.okfn.org looks great but
- Want to be able to change text
- Want to roll out to other working group sites (instructions)

[2012-08-03 11:03] rufuspollock opened #33 "okfn.org carousel like ckan.org (split page with text on RHS)"
As per discussion on the site sprint day think this work better and convey more information more effectively ...

May require new bespoke images for carousel - see #20 (may want simply to merge #20 with this issue)

Do we want call to action buttons below on RHS as for CKAN.org? Yes, suggest:
- Get involved => get-involved
- See our project => projects
- Get our help => services

[2012-08-03 11:16] #29 closed, assigned to nobody

[2012-08-03 11:41] smth commented on #31
Tag-line restored.

[2012-08-03 11:41] #31 closed, assigned to nobody

[2012-08-03 13:31] teajaymars commented on #3
It's impossible to track what's going on here. If five things need non-trivial changes then create five separate tickets for discussion. For example, I thought I'd solved _"Fix the carousel images to be better esp change the default one to OKCon or similar ..."_ by writing a new carousel plugin and putting an OKCon image on the front of it.

All that remains is the content below the banner -- this

[2012-08-03 17:11] smth commented on #20
Continued discussion from #3 Here is an example of an OKFest banner with the text formatted as on ckan.org https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_home_02.jpg as opposed to being bespoke per image https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_home_01.jpg Not a huge difference.

Regarding the suggestion from @rgrp to use the ckan layout with the images that are cur

[2012-08-03 17:13] smth commented on #3
Agreed, additional discussion for the banner continued here #20 Additional discussion for the RSS/latest activity continued here #37

[2012-08-03 19:15] rufuspollock commented on #20
There's been real confusion here: I didn't mean overlay the text on the image I meant like ckan.org where image is only 50% of screen and then text is other 50% (on some solid background ...)

[2012-08-03 20:54] rufuspollock commented on #3
@zephod @mintcanary I agree re this ticket. It started out as a discussion ticket and I think we probably should not have tried to start work without resolving what actually needs to be done (@mintcanary is just so damn efficient ;-) ).

@mintcanary suggestion for the future is that if there is still unresolved X thinks Y, Z thinks A in the main body of the ticket we hold off until resolved.

[2012-08-03 20:56] rufuspollock commented on #27
Also to clarify I think I am now +1 on your original design though probably for a different purpose from originally envisaged in this ticket: namely we now use this as a RSS feed news ticket below the carousel whereas original idea was more about being able to put permanent (unchanging) banner for important news like "Come to OKFestival"

[2012-08-06 08:09] smth commented on #20
Ok, I see. The confusion comes from the fact that technically the text is overlaid on ckan, but I designed the banners to have nothing going on on the right hand side, much as the OKFest example above. So you want the current photographs, but at a different aspect ratio, so they only fill half the screen?

[2012-08-06 08:16] rufuspollock opened #34 "Add DataHub logos to http://okfn.org/media/"
@mintcanary As per our chat on Friday (though switching to http://okfn.org/media from http://ckan.org/)

[2012-08-06 08:20] rufuspollock opened #35 "Dedicated page for OKFN slides / talks"
Central place to showcase okfn slidedecks / presentations / talks ...

Replace (?) http://wiki.okfn.org/Presentations
### Content

Question: is it just slides or also video etc?

Links out to our slideshare account, vimeo account (specific tag talks?), google docs folder
### Naming

http://okfn.org/talks/ or http://okfn.org/slides or http://okfn.org/presentations

RP: i'd vote for http://okfn.org/

[2012-08-06 08:20] rufuspollock opened #36 "Overhaul http://okfn.org/media/ to be central jumping off place for search for okfn.org media materials"
- Instructions re assets repo and assets.okfn.org
- Subsections with specific links / images for particular projects
  - okfn
  - ckan
  - datahub
  - OpenSpending
  - All major projects listed on http://okfn.org/projects/
  - OKFestival logo
- Other material
  - OKF Poster
  - OKF banner

[2012-08-06 08:49] smth commented on #36
Are these to be instructions on how to find stuff on assets.okfn.org? That repo is a bit of a mess, do we need to subject anyone to that?

[2012-08-06 11:20] rufuspollock commented on #36
In the first instance I'd just create sections for the major projects and display the relevant logos -- it wouldn't take long. (Sort of like what we have there in a very limited way right now)

[2012-08-06 15:47] smth commented on #36
Ok, the above have been added. A couple of the links will be broken until S3 is next updated.

[2012-08-06 17:59] smth commented on #32
- Text is now editable.
- Banner can be reused thus:
  [banner bg="http://science.okfn.org/files/2012/08/banner.png"]
  Text here.
  [/banner]

[2012-08-06 17:59] #32 closed, assigned to smth

[2012-08-07 10:13] rufuspollock opened #37 "Develop RSS-Based simple banner for insertion in site front pages"
Idea is to have a simple plugin (use existing) that we style so that it looks like a banner below e.g. the carousel / hero section on front page of relevant sites.
- Example site: http://science.okfn.org/

[2012-08-07 10:22] rufuspollock commented on #34
FIXED. Part of #36.

[2012-08-07 10:22] #34 closed, assigned to nobody

[2012-08-07 10:40] rufuspollock commented on #33
First pass from @mintcanary https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_home_02.jpg

[2012-08-07 10:40] rufuspollock commented on #33
Can we have more like ckan.org - ie. text and image in 2 separate columns

[2012-08-07 10:44] rufuspollock commented on #20
Dependent on #33.

[2012-08-07 10:47] rufuspollock commented on #21
@noelmas we probably need to check with funders re use of logos, can you help lead on this (may just involve pinging relevant people to ask)

[2012-08-07 10:47] rufuspollock commented on #17
@ddie and @mintcanary had a chat yesterday but Daniel had not yet reviewed or prepared content.

[2012-08-07 10:53] rufuspollock commented on #16
@zephod: The issue is _now_ about the images _not_ being in the **git** repo.

Why is this important? What happens if assets.okfn.org ever gets borked and we need to rebuild. The rule is the file must _either_ be in the git repo or the git repo must contain a script or very clear instructions on how to do the relevant build step (e.g. get this image from flickr and push to assets.okfn.org)

[2012-08-07 10:55] rufuspollock commented on #15
WONTFIX.

[2012-08-07 10:55] #15 closed, assigned to nobody

[2012-08-07 10:56] rufuspollock commented on #9
Assigning to @mintcanary for quick research on existence of a relevant plugin. Please spend no more than 15-30m :-)

[2012-08-07 16:02] #36 closed, assigned to smth

[2012-08-07 16:37] teajaymars commented on #16
I just forgot to type `git push`. It's done now.

This is a symptom of the fundamental problem with having two remotes to deploy to. I've been nagging Nick Stenning to setting up our puppet server as the sole remote, which will auto-deploy to S3. Feel free to nag him :-) I don't have [SSH access](https://raw.github.com/zephod/dotfiles/master/id_rsa.pub) to the puppet server so can't do this myself

[2012-08-07 16:37] #16 closed, assigned to rufuspollock

[2012-08-07 16:44] smth commented on #33
Second pass, much more like ckan.org https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_home_04.jpg

[2012-08-07 16:49] rufuspollock commented on #33
@mintcanary really like that

[2012-08-08 09:43] smth commented on #17
Talked more about this today. Daniel proposed a layout similar to okfn.org/services
We discussed having this video feature at the top of the page http://vimeo.com/21711338
@ddie will review and finalise the text today (possibly post link to it here for discussion?). After which I shall produce a mockup.

[2012-08-08 10:08] rufuspollock commented on #17
I'm concerned that video is rather long. I also think we might want a quick set of carousel style slides on the main items at the very top.

As an alternative video (I know it is me talking!) I wonder about: http://blog.okfn.org/2012/04/02/talk-at-lift-2012-open-data-how-we-got-here-and-where-were-going/

[2012-08-08 10:26] noelmas commented on #21
Sure - I've got a list now - I'll ping all this afternoon.

[2012-08-08 10:38] noelmas commented on #35
http://okfn.org/talks works for me. I'd be keen to get a solid tagging system for slideshare and vimeo. Ideally we'd want to embed videos and slides from those places to avoid constantly having to update this page... @mintcanary do you know of any plug-ins that allow you to embed your viemo ro slideshare streams in Word Press blogs?

[2012-08-08 10:57] smth commented on #35
I can't say I've ever looked into it, but it those sites offer such a feed then I'm sure it wouldn't be too difficult to make it happen.

[2012-08-10 14:06] noelmas commented on #21
Started compiling list https://docs.google.com/spreadsheet/ccc?key=0Al6mO9_3Hr2PdEFvX0ZZem9BVExGZFRPQTJjMHJNRGc#gid=0

[2012-08-15 10:26] smth commented on #33
Deployed.

[2012-08-16 09:55] smth commented on #17
Draft text from @ddie http://opengovernmentdata.okfnpad.org/opendata

Comments from @rgrp

Text 1.0 section at the bottom. This page is more about the place for
people to go to find out about open data rather than the palce to find
out what _we_ do about opendata.

Text 2.0 section: seems to cover both why and what. Perhaps focus on
What and then have a section on Why. (as per OGD.org)

Text 3.0:

[2012-08-16 09:56] smth commented on #17
Initial design, based on above: https://raw.github.com/okfn/okfn.org/master/designs/opendata_01.jpg

[2012-08-16 16:07] smth commented on #5
Logo created, available from http://okfn.org/media/
Suggest discussing implementation of logo on the Textus issue tracker, if necessary.

[2012-08-16 16:07] #5 closed, assigned to smth

[2012-08-16 16:28] smth commented on #9
Had a look, didn't find anything.

[2012-08-16 16:28] #9 closed, assigned to smth

[2012-08-16 17:28] smth commented on #35
In regards to the content question, I wonder if it should be just videos, and not slides. Slides by themselves (without someone talking over them) probably are of little interest. If there is some exceptional content in the slides, I suggest it should be put on the site in its own right, that way it is accessible, discoverable, editable etc.

[2012-08-17 10:38] noelmas commented on #24
I will be outlining changes that need to be made and writing up all content for the website in the following Google Doc:

http://bit.ly/RmImFb

This will include new content, copy and tweaks for Supporters and Donate page

[2012-08-17 10:55] smth commented on #37
I've added my RSS ticker to http://staging.okfn.org/

This can be added like so: [rss feed="http://planet.okfn.org/feed" type="ticker"]

Note: This is part of the theme (not a plugin), this is because it is dependant on Bootstrap (which is also part of the theme).

[2012-08-17 11:21] noelmas commented on #35
I agree with you Sam. If there is something we really want to be conveyed on the website, we should put this on a webpage - it will tend to look better.

[2012-08-17 11:27] #37 closed, assigned to smth

[2012-08-17 11:38] rufuspollock opened #38 "[super] Site UX and Information Architecture"

[2012-08-17 11:54] rufuspollock commented on #33
No call to action buttons? Do we want to leave this for the present?

[2012-08-17 12:34] rufuspollock commented on #35
Hmm. There are 2 things here. A showcase and somewhere for us to list (not necessarily all but quite a few) of our slides. Could this page not highlight a few at the top and then allow for listing further down.

[2012-08-17 13:15] smth commented on #33
I'm happy to put some in. Do you still want them to be the same as the links below; "What We Do", "Get Involved", "How We Can Help"?

[2012-08-17 13:23] noelmas opened #39 "Take off Shuttleworth Funded on top right"

[2012-08-17 13:26] smth commented on #39
Done.

[2012-08-17 13:26] #39 closed, assigned to smth

[2012-08-17 13:27] noelmas commented on #21
Okay, so mock-up of footer looks fantastic. We should implement. We need to hang back on Sloan, OSF and Hewlett some of them ar estill preparing their usage documents. I suggest our initial list then is:

Shuttleworth
Omidyar
NED
Knight

[2012-08-17 13:34] noelmas commented on #33
Call to action buttons - Sam Smith to mock-up:
- What is Open Data? (link to Open Data page currently being drafted)
- Join the Community (link to community page that needs to be created that goes off to local groups, working groups, volunteer etc)
- Our Activities (goes off to activities page that needs to be created that leads off to Projects, Working Groups, Local Groups)
- Use our Services (go

[2012-08-17 13:41] noelmas opened #40 "Create set of four boxes that indicate what we are trying to achieve"
Inspired by:

http://www.soros.org/

The four boxes "Improve Lives" "Foster Change" etc below main carousel.

For now I suggest we just use the following four terms without unpacking them:
- Shape the Knowledge Society.
- Free and open access.
- Foster innovation and insight.
- Community based.

@mintcanary would be good to get your opinion on where such a series of buzz terms should reside - abov

[2012-08-17 13:44] noelmas commented on #33
We should try to get above call to action buttons on the carousel in a similar way to CKAN.org. This would then allow us to feature the four boxes discussed in #40 to go below carousel

[2012-08-17 13:48] noelmas commented on #20
I will comment here on what should be modified immediately on carousel:
- Delete the opening Open Knowledge Foundation slide with people sitting on grass
- Delete Working Group slide
- Delete Open Government Data Camp slide
- Add a slide on the OKFN blog

Copy: The Open Knowledge Blog is the place to keep up-to-date about all the most important happenings related to open data and content across th

[2012-08-17 13:53] noelmas opened #41 "Re-instate a prominent strap line at top"
Strap-line should be:

"We build technology and communities to create, share and use open information."

Strap-line should appear at the top of the page

[2012-08-17 13:58] noelmas opened #42 "General Overview of OKFN.org - user stories, personas etc"
Google Doc now being used to sketch personas and user stories for website:

https://docs.google.com/document/d/1PUtZVuSUoylcM_7cw1SO09CFjtv7MbManGfzLGNTl84/edit?pli=1#

[2012-08-17 14:12] noelmas opened #43 "Cull some parts of top menu"
- Delete "Events" option in main bar and nest "Events" option under "Community" direct to http://okfn.org/events/
- Take out "Services" option for "About Us" tab (Services has its own button)

More to follow but that can be done immediately

[2012-08-17 14:18] smth commented on #43
Done.

[2012-08-17 14:30] noelmas commented on #17
Initial design looks excellent @ddie - I still feel the copy needs work. For instance, the section "What is Open Data?" seems to address the question of why rather what.

I would suggest we re-do section 1 addressing what is data and when is it open.

Then have a section on why open instead of the section on "What kinds of open data?" which I don't think is very helpful.

@ddie - would you like to

[2012-08-17 14:41] noelmas commented on #35
Inline with what we were discussing previously. What user story is this going to respond to? We have a slide share account for people who know us and want to see recent talks. But what you seem to want Rufus is a page that can deepen someone's understanding of the OKFN and it's work. In my eyes we should endeavour to do this with dedicated pages supporting this with videos and presentations where

[2012-08-17 14:49] noelmas commented on #38
Being drafted on Google Doc:

https://docs.google.com/document/d/1PUtZVuSUoylcM_7cw1SO09CFjtv7MbManGfzLGNTl84/edit

[2012-08-17 14:50] noelmas commented on #42
Duplicate #38

[2012-08-17 14:50] #42 closed, assigned to nobody

[2012-08-17 16:13] noelmas opened #44 "Show recent featured posts from our blog"
Pull in title and thumbnail of 2 of our most recent "Featured" posts. This should go below the 4 boxes discussed in #40 not disimilar to "Featured Work" section on http://www.soros.org/.

We should call this section "From our blog"

[2012-08-17 16:33] smth commented on #21
Does that mean the above list _have_ sent logos and/or usage documents?

[2012-08-17 16:35] noelmas commented on #21
The above 4 have approved that we can use their logos on our main site and have no objections to what was proposed

[2012-08-21 13:45] smth commented on #21
Those four logos have now been added to the footer.

[2012-08-21 14:39] noelmas commented on #21
Do you mean in the mock-up? A couple of the funders who we haven't got confirmation from don't want to be seen to endorse our website content. Please forward any new mock-ups so that I can show them what we plan to do.

[2012-08-21 14:49] smth commented on #21
I mean the four approved logos are now on the live site.

[2012-08-21 15:28] rufuspollock opened #45 "Link / feature okfn.org/intro more prominently (?)"
http://okfn.org/intro is a slide deck intro to the OKFN. I use it extensively and its often the default link I share. If we are trying to do a better about/intro page for the OKFN this could be a useful resource (or one could reuse the concepts while not using the slides).

This is a RFC and flagging up exercise rather than an immediate suggestion for action :-)

[2012-08-21 15:33] noelmas commented on #45
Can you give more detail?

[2012-08-21 15:53] rufuspollock commented on #45
@noelmas done (see description)

[2012-08-21 15:55] rufuspollock commented on #21
Great to see this up there but I should say that this does look a bit odd as it stands in the footer. I'm also wondering whether we really want this in the footer as opposed to a dedicated page elsewhere e.g. http://okfn.org/support/thanks (though that isn't perfect as yet ...)

[2012-08-21 16:08] noelmas commented on #21
I think it does look slightly odd, but that the implementation could be neatened up. @mintcanary , I know this is vague, but any way of giving is less of "stuck on" feel. Currently looks like a bit of an after thought. The mock-up somehow looked better.

[2012-08-21 16:16] smth commented on #21
I don't follow; apart from a larger font size for "Funded by" (and there being less logos), it looks pretty much identical to the mock-up.

[2012-08-21 16:24] smth commented on #33
For the reason of space, could we combine actions two and three (and create one new page containing the combined contents of the above suggestions)?

[2012-08-21 16:29] noelmas commented on #21
Maybe it is size of logos then. I'll hopefully have confirmation of a couple of more shortly, so that we can reduce their size

[2012-08-21 18:31] vndimitrova commented on #30
Thanks, Sam, this looks really nice, can we also have the sidebar for the Home Theme?

[2012-08-22 07:37] smth commented on #30
No, not at the moment.
Another new option is to use this ticker style RSS feed http://staging.okfn.org/

[2012-08-22 07:48] noelmas commented on #21
@mintcanary I now have approval from NED that we can also use their logo - let's put that in and see if footer starts looking better. I have put all logos I have been sent by comms departments in Drop Box - OKF Box / Funder Logos

[2012-08-22 07:50] smth commented on #21
The NED logo is already there..

[2012-08-22 08:00] noelmas commented on #21
@mintcanary apologies - pre-coffee GitHub issues comment not a good idea! I meant Hewlett logo.

[2012-08-22 08:21] smth commented on #21
Ok, that's there too now :)

[2012-08-22 09:29] smth commented on #40
If this is going to be the entire content for the page, perhaps we should elaborate on each of the headings with a paragraph of text?

[2012-08-22 10:50] smth commented on #44
If the blog was part of the OKFN site, this would be straight forward, the functionality to show three blog post previews is already in place (used here http://linkedup-project.org/). As the blog is on a separate domain, I don't think this method will work, and so we'd have to use the RSS feed. The problem with this is that Wordpress doesn't include an image in the feed.

@zephod Would be good to

[2012-08-22 12:51] teajaymars commented on #44
Can you get an RSS feed for just `category=featured`?

If so, then I guess you're AJAXing it in with Javascript? I can write an extra bit of JS which extracts the image into an `<img>` tag if you require.

[2012-08-22 13:11] smth commented on #44
Looks like you can get a feed for one category http://blog.okfn.org/category/featured/feed/

Docs here http://codex.wordpress.org/WordPress_Feeds

[2012-08-22 13:59] smth commented on #41
Done.

[2012-08-22 14:09] teajaymars commented on #44
So how do you embed the feed into the other page? Some kind of Javascript
widget?

On Wed, Aug 22, 2012 at 2:11 PM, Sam Smith notifications@github.com wrote:

[2012-08-22 14:15] noelmas commented on #41
Great, I like the banner style. We're trying the new strap line that @rgrp  has created see above. Thinking know that it should use the continuous tense. So please change to:

"Building technology and communities to create, share and use open information."

Also, is there any way of making it stand out more? Using a bolder version of the font or maybe italics. Currently the carousel seems sit slig

[2012-08-22 14:18] smth commented on #44
https://github.com/okfn/wordpress-theme-okfn/blob/master/shortcodes.php#L236

[2012-08-22 14:38] smth commented on #41
Font emboldened. Padding increased.

[2012-08-22 16:12] noelmas opened #46 "Footer menu"
Delete from Footer menu:
- Login
- Contact our team
- Media
- About Us

All links are elsewhere and Footer looks too big.

Also suggest deleting Twitter, Facebook, Flattr links until we find a better place to have them. Currently they detract from the look and feel of the site.

[2012-08-22 16:43] smth commented on #46
Just double checking the removal of links; the login link was only requested to be added recently #29 and I can't see a link to media anywhere else..

I have put the Facebook and Twitter back in the header, now there is room again. I've disabled the Flattr button.

[2012-08-23 13:31] noelmas commented on #46
Hi Sam - Facebook and Twitter looks much better now. You may be right that there is no link to media. I'm just concerned about the proliferation of menus and that the menu as it is is really spoiling the footer. As this is not urgent, for now, let's just delete "Contact our team" and "About Us"

[2012-08-23 13:34] noelmas commented on #21
So looking at the list of funders, which I think is a massive improvement, the ones at the far left are obscured by the OKFN logo. Is there a way of making sure all logos are visible? Perhaps change the shade of the funder logos a bit?

[2012-08-23 14:03] noelmas commented on #33
I feel we need at least four calls to action. These need only be buttons that have what is in inverted commas above. Merging two and three wouldn't do as they respond to distinct user stories.

On another a note, while we change overall design of carousel. Can we stop text and image from overlapping on current version?

[2012-08-25 16:48] rufuspollock opened #47 "OKFN Labs logo (and added to okfn.org/media)"

[2012-08-25 16:53] rufuspollock opened #48 "OpenSpending logo and added to okfn.org/media"
May be that @mintcanary can help here but assigning to @pudo in first instance as he is expert on OS stuff!

[2012-08-27 12:59] noelmas commented on #21
Sloan have confirmed we can use their logo. @mintcanary  I have sent you relevant files

[2012-08-28 08:14] smth commented on #46
Done.

[2012-08-28 08:14] #46 closed, assigned to smth

[2012-08-28 08:18] smth commented on #33
Where is the text overlapping?

[2012-08-28 08:24] noelmas commented on #33
Not sure if I'm having some very bizarre caching issues, but the text was overlapping until today. The design on the website (having just refreshed my chrome browser settings) is displaying a much improved okfn.org with CKAN style carousel and much lighter background. Looking MUCH better. There is no more overlap.

[2012-08-28 08:49] smth commented on #47
Added.

[2012-08-28 08:49] #47 closed, assigned to nobody

[2012-08-28 08:52] smth commented on #48
OS logo is already on http://okfn.org/media/

[2012-08-28 09:14] smth commented on #21
There is no OKFN logo in the footer.. I think we must be looking at different things here. If you are looking at the footer, and it doest look like the design in my first comment, maybe you are seeing a broken/cached version?

[2012-08-28 09:16] rufuspollock commented on #48
Apologies and duh!

[2012-08-28 09:16] #48 closed, assigned to pudo

[2012-08-28 09:17] noelmas commented on #21
Yes, I just commented on another issue along those lines. I have been looking at a broken cached version! Chrome has now refreshed and I'm seeing the brand new shiny one now! Looks so much better. Very peculiar though as things like new logos were appearing but with old theme in the background.

[2012-08-28 09:22] noelmas commented on #40
My idea is to have these boxes just below the carousel, they're just very bold text to highlight what we do in a slightly more concrete manner a bit like http://www.soros.org/.

[2012-08-28 09:26] noelmas commented on #33
Could we try and implement new call to action buttons in the next couple of days (as above):

What is Open Data? (link to Open Data page currently being drafted)
Join the Community (link to community page that needs to be created that goes off to local groups, working groups, volunteer etc)
Our Activities (goes off to activities page that needs to be created that leads off to Projects, Working Gro

[2012-08-28 09:49] smth commented on #33
Yes, sounds like you have been experiencing the same caching problems that others have been of late (including myself). I'm glad we are seeing the same thing now.

Yes, should be able to get that done in the next couple of days. They will probably need to be slightly smaller than the CKAN buttons, due to the amount of text that needs to fit in.

[2012-08-28 13:33] smth commented on #21
Sloan logo added.

[2012-08-28 14:03] smth commented on #33
This is how they will look https://raw.github.com/okfn/okfn.org/master/designs/buttons.jpg

Personally, I think it's too many calls to action.

[2012-08-28 14:11] noelmas commented on #33
This looks good but I agree, it's not an ideal number.

For now, then, let's drop "What is Open Data?" and find some other way to include a link to that on the front page. Can you re-mock-up with only 3?

[2012-08-28 14:35] noelmas commented on #33
So just to recap - this is a very crude mock- up of how this could all come together. Second row of buttons at the bottom would be where those four slogans go from #40.

http://twitpic.com/aom7mz

[2012-08-29 13:32] smth commented on #33
https://raw.github.com/okfn/okfn.org/master/designs/buttons2.jpg

[2012-08-29 13:36] noelmas commented on #33
Great. Let's implement.

[2012-08-29 14:02] smth commented on #33
Ok, buttons are now live. I have created an Activities page, but not linked to it as it needs content.

[2012-08-29 14:05] #33 closed, assigned to smth

[2012-08-29 14:10] smth commented on #3
Mockup from @noelmas http://twitpic.com/aom7mz

[2012-08-29 14:18] noelmas opened #49 "Take Out Notebook Posts from Activity Monitor"
There has been some recent discussion that Notebook posts should be made private. We are currently looking for a solution for this.

Pending that can we take out Notebook posts from the activity monitor. If I went to okfn.org as a new visitor I would not be interested in seeing these posts and be put off by that being the most recent update from around our network.

Apologies if this is the wrong

[2012-08-29 14:33] noelmas opened #50 "Populate activities page"
The activities page on the OKFN website should be very simple. It should have 4 large buttons with a small amount of text within the explaining each activity. I can mock-up some ideas for how this should look, but as you have a better eye than me I'd suggest you put forward a mock up first.

Content:

Projects > http://okfn.org/projects/

We play home to a wide variety of projects from large scale

[2012-08-29 17:40] noelmas opened #51 "Carousel seems to "wobble""
Low priority but on my browser carousel text seems to jiggle around when you scroll to a new slide. Could be smoother.

[2012-08-30 16:33] #41 closed, assigned to smth

[2012-08-30 16:42] smth commented on #3
In response to the layout above: https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_home_05.jpg
In addition, I have added an intro to OKFN, to make it flow a bit better and to address #45
I'm not sure about the four "buzz terms" at the bottom (discussion here: #40)

[2012-08-31 08:29] noelmas commented on #3
Hi Sam. I think this is excellent. I'm going to get some second opinions on the buzz items -  I actually think they add something important to the front page.

One issue: We need to distinguish between those boxes that are being pulled in from the blog and those that are static (What is Open Data? and Introduction to OKFN)...

Personally I think we should replace the Introduction to OKFN with a bo

[2012-08-31 08:34] smth commented on #3
For what purpose do we need to distinguish between the blog and static content?

We could always remove one blog item and have both intro and support? If we do link to the intro page, I suggest we remove the slide and recreate it in html.

[2012-08-31 08:39] noelmas commented on #3
We should distinguish because "Featured" posts will sometimes be guest blog posts that don't entirely reflect the view of the OKFN on a particular issues. We therefore need to make it clear that this is a news or blog stream in some way.

I think we should have more than one blog item.

I propose that the Intro to the Open Knowledge Foundation is linked to via a banner much like you created for Sh

[2012-08-31 10:41] noelmas opened #52 "Add pop up box to ask for sign up to OKFN mailing list"
We are now going to be using Mail Chimp to run our main mailing list to replace OKFN Announce.

We will be using following sign up page:

http://eepurl.com/hhyMU

[2012-08-31 10:49] smth commented on #52
Is this to replace the form that is currently at the top of the sidebar? If so, why not directly replace it rather than create a popup?

[2012-09-04 16:49] smth commented on #3
Regarding the blog posts; we could do this https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_home_06.jpg

[2012-09-04 18:43] teajaymars commented on #3
Chiming in:

Shiny.

[2012-09-06 09:38] noelmas commented on #3
Getting there, but still not quite right - "From our blog" feels like an after thought.

I feel that it will be difficult to do this with these four items all aligned in the same way. Two of them could be smaller than the others or stacked vertically for instance.

Can we mock-up another solution?

[2012-09-06 15:19] noelmas commented on #52
The Public Domain Review has had a of success with pop up requests to sign up for mailing list. I suggest we try it out. Either way we need to start using Mail Chimp as a matter of urgency.

[2012-09-06 15:27] smth commented on #52
Ok. So are you talking about one that automatically pops up when you load the page (just had a look at PDR and couldn't find a pop up)?

[2012-09-06 15:32] noelmas commented on #52
Yes, this is an issue Adam Green (don't know if he has a Github user name) has repeatedly raised with Sysadmin. The plug-in he was using has broken and no one has installed a new one. It would be great if we could get the correct plug in installed so that the PDR could use this too. PDR had a lot of extra sign-ups when they had this.

[2012-09-06 16:43] smth commented on #3
How about this? https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_home_07.jpg

Baring in mind we might want this up quite quickly, I've let ease of building dictate this slightly.. having the blog posts at the very end of the page would require less work.

[2012-09-06 17:06] noelmas commented on #3
This looks _a lot_ better. I really like the way the Shape the Knowledge Society. thing is now sandwiched.

As we're now going to have a quote from "Introducing the Open Knowledge Foundation" page. We should drop the strap line at the top (sorry to say) as it's now effectively duplicating something below.

If we finalise version 1 of "What is open data?" when could this be implemented? Are there c

[2012-09-06 17:08] noelmas commented on #3
We have also now agreed on slightly different wording for the Shape the Knowledge Society etc buttons. Please change to:

Reform the knowledge society
Protect the digital commons
Free and open access
Community driven

[2012-09-06 17:09] noelmas commented on #40
Also in #3 - wording should now be:

Reform the knowledge society
Protect the digital commons
Free and open access
Community driven

[2012-09-06 17:16] smth commented on #3
I did have one eye on dropping the strapline from the top to be honest.

The only blocker is the text really, but I could probably put something together to fit in there if need be. Could probably get this one implemented tomorrow. Should the open data page be revamped before it is linked to though?

[2012-09-06 17:20] smth commented on #52
Had a quick search, this one sounds quite good http://wordpress.org/extend/plugins/wordpress-popup/

[2012-09-06 17:21] noelmas commented on #3
I can finalise first version of open data page this evening (we will inevitably need to iterate) which should then be used to refresh the open data page. What is the other text we need?

[2012-09-06 17:22] noelmas commented on #52
Looks good sir! Shall we give it a go?

[2012-09-06 17:24] smth commented on #3
An appropriate amount of text to replace the' lorem ipsum' in that last mockup.

[2012-09-06 17:25] noelmas commented on #3
Got it - so if someone clicks on it it will go through to @rgrp 's slide deck, right? I'll write something now and post here.

[2012-09-06 17:30] smth commented on #3
Yes, that's the idea, with view to improving that page in future.

[2012-09-06 17:40] noelmas commented on #3
Left side (with bolding):

The Open Knowledge Foundation is dedicated to promoting the **creation**, **sharing** and **application of Open Knowledge** in the **Digital Age**.

We believe that an **open commons of information** together with the **tools and communities to utilise it** is central to **improving our governance, research, economy and culture.**

Right side:

Same as mock up minus "con

[2012-09-07 09:31] smth commented on #3
Thanks for this. That heading will probably have to span two lines, shouldn't be a problem though.

I have just realised there is another blocker on this, in terms of the blog posts; the dev work discussed in #44 (I was forgetting that the blog is on a separate website)

[2012-09-07 11:55] smth commented on #3
This is what I have now https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_home_07_text.jpg

[2012-09-07 14:08] smth commented on #52
It seems that is the plugin being used on PDR, it also appears to be working (the popup was inactive, after activating it works).

So we could go ahead and implement this on okfn.org, I have my reservations though, to me these popups are _the_ most annoying thing on the internet (and I always close them without looking at what's inside them).

Maybe we could think of alternative methods? A slightl

[2012-09-07 14:34] smth commented on #52
In the meantime, we could replace the current sidebar form with a MailChimp one using this http://wordpress.org/extend/plugins/mailchimp/

If you want me to do this I'll need the MailChimp API Key

[2012-09-10 12:09] smth commented on #17
Data types diagram: https://raw.github.com/okfn/okfn.org/master/designs/data-types-1.jpg

[2012-09-10 12:25] noelmas commented on #17
This looks great. What's the plan to include providers of data and where do the annotations go with examples?

[2012-09-10 12:28] rufuspollock commented on #17
Looks great. Only comment is that I think the What Kind of Open Data gets a bit lost vis a vis the image.

I really think we will be limited what can be in the diagram. Think we can probably do something fancy with image map or javascript.

We also definitely but our name in there as well on there (with simple (c) plus attribution license :-) )

[2012-09-10 13:56] rufuspollock opened #53 "Improved events section"
- top of events page has some nice box sections with description and links to key items
  - OKFestival and OKCon (http://okfn.org/okcon/ etc etc)
- Hackdays and data days (and datathons?)
  - /events/hackdays-and-datadays/ - brief description, list of previous events, latest events
    - We can help you run one - link to services
- Workshops: /events/workshops/

[2012-09-10 14:36] smth commented on #17
The plan is to use a tool tip like this http://i.imgur.com/MweA4.jpg
This would most likely be the Bootstrap tool tip, as it is already included in the theme.

I have made the heading bolder.

Our name in the diagram?

[2012-09-10 15:02] teajaymars commented on #49
This was fixed after today's Wolfpack call where the feed was removed from planet.okfn.org.

[2012-09-10 15:02] #49 closed, assigned to teajaymars

[2012-09-10 15:07] teajaymars opened #54 "(robots.txt) : Prevent Google from crawling notebook.okfn.org"
We want notebook posts to become less prevelant. They've been removed from planet.okfn.org and the system-wide activity feed. However, for many people a Google search of their name produces their notebook posts, which are informal and not really what we want to appear.

We could do this if it were possible to customise `robots.txt`. See:

http://notebook.okfn.org/robots.txt

[code]

Can we make it

[2012-09-10 15:36] rufuspollock commented on #54
Just to check: we're not implementing this and I'm not sure we reached agreement.

Personally, I want google to crawl notebook.okfn.org :-) (it's useful and I find things there that way etc) so I'd be a strong -1 on putting this in.

[2012-09-10 15:41] teajaymars commented on #54
Then change the user-agent to the Google robot rather than disallowing all. (Or ignore `robots.txt` in your personal scraper).

Do I need to go back to the next committee meeting and get everybody's approval before solving their problems? Surely this is a better solution than having everybody uncomfortable with the Notebook system and either (a) posting very little or (b) switching to a private sy

[2012-09-10 15:54] smth commented on #17
This is the full page, as it stands https://raw.github.com/okfn/okfn.org/master/designs/opendata_02.jpg

[2012-09-10 15:59] rufuspollock commented on #54
That wasn't how I understood the discussion. Let's not implement anything before this is revisited and we have a clear steer ....

[2012-09-12 10:39] rufuspollock opened #55 "Switch to disqus comments for blog.okfn.org (?)"
Why?
- Better spam moderation
- Richer commenting system

NB: I don't think this is urgent and I'd say that at this point this is very much a discussion issue not an implementation issue.

[2012-09-13 08:44] smth commented on #3
The above is now live.

[2012-09-13 08:47] noelmas commented on #3
Great, shouldn't the second column beneath "Introducing the Open Knowledge Foundation have larger text"?

[2012-09-13 08:49] noelmas commented on #17
Open Data page is now live - it's a great start, and good to have it up. How does @rgrp add in information about example projects to diagram of types of open data? Is there a way?

[2012-09-13 08:50] smth commented on #3
It does have, the image above is a screenshot. You must be seeing a cached stylesheet.

[2012-09-13 08:56] smth commented on #17
I can either add in the markup with space to add in the text, or, probably easiest, I can add it in once it has been written.

[2012-09-13 08:57] noelmas commented on #44
@zephod can we bump this dev work up on priority? Front page is looking great with _much_ better content. If we could get blog posts displaying before OKFest traffic really hots up, it would be fantastic

[2012-09-13 09:09] noelmas commented on #17
@rgrp can you add for each box of table in https://docs.google.com/document/d/13vWd5ALf27WmneT6PrwTcaUfjhukYRgrzVZ8UjFHSIE/edit compelling open example

[2012-09-13 09:09] noelmas commented on #17
@mintcanary please can we change climate > weather on "types of data"

[2012-09-13 09:14] smth commented on #17
Done.

[2012-09-13 13:28] teajaymars commented on #44
Done! With thanks to http://wordpress.stackexchange.com/questions/33779/how-to-query-blogs-posts-of-wordpress-sub-domain.

See: http://okfn.org

[2012-09-13 13:39] noelmas commented on #44
@zephod  Excellent. Can we also get a neat little line above that says "From our blog"

[2012-09-13 13:52] noelmas opened #56 "Delete Open Government Data Camp slide on carousel"
We already have OKFEst slide

[2012-09-13 13:55] teajaymars commented on #44
_points_ -> @mintcanary

[2012-09-13 14:01] smth commented on #44
Haha I'm on it.

[2012-09-13 14:24] noelmas opened #57 "Edit our Tools slide on carousel"
Pending more through re-write please change current text to:

"Our Tools

Our tools help people work with data. [CKAN](http://ckan.org), for instance, is an open source data management system that makes data more accessible. It currently powers 40 datahubs around the world including portals for local, national and international governments."

[2012-09-13 14:51] smth commented on #44
Done (and posts styled).

[2012-09-13 14:51] #44 closed, assigned to teajaymars

[2012-09-13 14:56] smth commented on #56
Done.

[2012-09-13 14:56] #56 closed, assigned to smth

[2012-09-13 14:59] smth commented on #57
Done.

[2012-09-13 14:59] #57 closed, assigned to smth

[2012-09-13 15:33] #3 closed, assigned to nobody

[2012-09-13 15:40] smth commented on #40
Done.

[2012-09-13 15:40] #40 closed, assigned to smth

[2012-09-13 15:40] #43 closed, assigned to smth

[2012-09-13 15:41] smth commented on #45
Now linked from homepage.

[2012-09-13 15:41] #45 closed, assigned to nobody

[2012-09-13 15:47] smth commented on #55
Could you share your reasoning behind this?

I'm going to call this a dev issue and assign @zephod :p

[2012-09-13 16:48] noelmas opened #58 "Delete "Propose Project" option from Projects Menu in Top Bar"
Exactly what it says above!

[2012-09-13 17:57] noelmas opened #59 "Front page boxes edit"
Change "Protecting the Digital Commons." to "Promoting the Digital Commons."

[2012-09-14 08:10] smth commented on #59
It currently says "Protect the digital commons." so would you like it to be "Promote the digital commons."?

[2012-09-14 08:13] rufuspollock commented on #59
Yes.

[2012-09-14 08:14] smth commented on #59
Done.

[2012-09-14 08:14] #59 closed, assigned to smth

[2012-09-14 18:16] noelmas opened #60 "OKFN.org blog posts should only be "Featured" ones"
Currently all types of blog posts are displayed

[2012-09-17 14:11] noelmas opened #61 "Change "Introducing the Open Knowledge Foundation" to "Introducing Ourselves""
We need to get it to go down to one line so it looks more symmetrical

[2012-09-17 14:12] noelmas opened #62 "Make the full area for "Introducing the Open Knowledge Foundation" and "What is Open Data clickable""
Currently you can only click on titles full boxes need to be clickable. Same should really be applied to the blog posts below.

[2012-09-20 10:28] smth commented on #61
Done.

[2012-09-20 10:28] #61 closed, assigned to smth

[2012-09-20 10:30] smth commented on #58
Done.

[2012-09-20 10:30] #58 closed, assigned to smth

[2012-09-20 10:41] smth commented on #62
Currently you can only click on the 'More' link.. I think adding links to the titles is a good idea, not sure about the whole block of text though. This may appear like we are trying to dupe people.

[2012-09-24 15:04] smth commented on #50
I've gone ahead and added that content, following the format we already have on other pages http://okfn.org/activities/

[2012-09-25 09:54] #17 closed, assigned to ddie

[2012-09-25 13:27] smth commented on #20
All tasks from previous post now done.

[2012-09-25 13:27] #20 closed, assigned to nobody

[2012-09-25 13:29] #25 closed, assigned to nobody

[2012-10-01 09:56] smth commented on #51
As we use Bootstraps code for this (and I can't really see the issue), I'm going to say we won't be fixing this.

[2012-10-01 09:56] #51 closed, assigned to smth

[2012-10-01 11:13] smth commented on #27
I have added the ribbon to okfn.org as suggested above.
I think the RSS feed may now be slightly redundant on the homepage, as we have a feed from our blog on there.

[2012-10-01 11:13] #27 closed, assigned to nobody

[2012-10-02 14:22] noelmas opened #63 "Design logos for all Open Government WGs on okfn.org/wg"

[2012-10-02 17:24] smth commented on #63
Done.

[2012-10-02 17:24] #63 closed, assigned to smth

[2012-10-03 10:33] noelmas commented on #27
Agreed

[2012-10-04 09:55] smth commented on #50
In response to the suggestion of making the links full width and adding icons, how about this? https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_activities_01.jpg

[2012-10-04 10:05] noelmas commented on #50
Thoroughly excellent! Let's this up on the site! :)

[2012-10-04 11:52] smth commented on #50
Done.

[2012-10-04 11:52] #50 closed, assigned to smth

[2012-10-04 16:28] keyboardkat opened #64 "Redesign of okfn.org/local"
We (quite urgently) need to redesign the current 'OKFN Chapters, Groups and Meetups' page to reflect the new 'OKFN Global Communities Network' scheme based on the strategic plan being drafted for this network in autumn 2012.

Full details of what is needed (including a Balsamiq mockup) are found on the Google Doc here: https://docs.google.com/document/d/1Si30LvVENoiCqsChG8qmroqC82YZMNXAQnY9Bi_plHU

[2012-10-05 11:50] smth commented on #64
First obstacle I see is the map; if we want it to be dynamic (which I guess we do) we will need to come up with a new plan: From meetups forum "I'm afraid that we no longer support the embedding of dynamic maps of Meetup Groups on external websites."

[2012-10-05 11:51] noelmas commented on #64
Do they have an API on which we could build our own map of Meetups?

[2012-10-05 12:01] smth commented on #64
They do at least have an API http://www.meetup.com/meetup_api/

[2012-10-05 12:03] noelmas commented on #64
Cheers Sam - could you give us a time estimate for yourself and Tom Rees to complete the work necessary to do our own dynamic map of the meet-ups?

[2012-10-05 13:02] smth commented on #64
@zephod could you have a look at this when you get a chance?

[2012-10-07 23:19] keyboardkat commented on #64
@mintcanary @zephod can one of you please give me more permissions on this repo so i can assign and add labels to Issues on the OKF site? my status has been removed somehow and I had to ask @noelmas to assign this for me... thanks in advance.

re: the maps API, would be great if you, @mintcanary, could start on the rest of page regardless (the page is currently just a shell, so would be great to g

[2012-10-08 08:25] smth commented on #64
@keyboardkat I think you should have full permissions now.

Ok, I should be able to start on this later today / tomorrow.

[2012-10-08 10:43] rufuspollock opened #65 "Consolidated and improved team page"
http://okfn.org/about/team/

Suggest:
- Consolidated core and projects team into the one main page
- Deprecate international chaper / local group teams for the present (bound to get out of date?)
- Ditto for working group teams page

Also tie this into usual induction workflow ...

[2012-10-08 12:14] lauranewman commented on #65
- Agree about deprecating working group team page & chapter page (coordinators better listed elsewhere?)
- Rationale behind splitting project / core was that the old team page had become unwieldy and confusing. Distinction does often feel artificial, but would need some clear page-layout & organisation if we were to consolidate again.
- This _is_ part of induction workflow (http://wiki.okfn.org/Ha

[2012-10-08 18:24] keyboardkat commented on #65
@rgrp @lauranewman agreed re: depreciation of WG / chapter pages - are definitely going to get inaccurate due to high quantity of people playing 'coordinator' roles there (and it'd be good to keep our paid 'core' team separate from these folks, as many of them are unpaid volunteers).

[2012-10-08 18:30] keyboardkat commented on #64
@mintcanary yep, i do now. thanks! looking forward to it :)

[2012-10-09 08:57] noelmas commented on #65
+1 to Rufus's suggestion. We can see that the Projects Page is already quite out of date with Jilly and Tom still there. I would suggest that we list people specifically focussed on project and not part of core elsewhere (on a project website as we do for the WGs). Otherwise this will constantly be going out of date.

[2012-10-09 09:00] rufuspollock commented on #65
To be clear I was suggesting consolidating projects and core into one page - I don't think there is really a useful distinction here. so there would still be a need to keep up to date (but that's part of a process we should be doing anyway).

[2012-10-09 11:18] noelmas opened #66 "Mail Chimp sign up box on front page and elsewhere on website"
Set up Mail Chimp sign up page and replace existing OKFN Annoucne sign up boxes with Mail Chimp sign up

[2012-10-09 11:19] noelmas commented on #52
Stalling on pop up implementation so now on new issue #66 - simple sign up box

[2012-10-09 13:41] smth commented on #66
Done

[2012-10-09 13:41] #66 closed, assigned to smth

[2012-10-09 13:47] smth commented on #52
Closing for now.

[2012-10-09 13:47] #52 closed, assigned to smth

[2012-10-09 14:01] noelmas commented on #66
Great - can we try it out on the top?

[2012-10-09 14:02] noelmas commented on #66
@rgrp  mailing list has now been switched over on main site - please migrate OKFN announce

[2012-10-09 14:04] smth commented on #66
Try it out as in see what it looks like, or implement to test it?

[2012-10-09 14:05] noelmas commented on #66
Let's just implement it, it needs to be one of the first things people see...

[2012-10-09 15:00] smth commented on #66
Ok.. have moved to above header.

[2012-10-09 17:30] noelmas opened #67 "Change four blog posts to three on front page"
Feedback has pointed out that it is misleading that the four boxes about what we promote line up so neatly with the blog posts as if they are part of the same column / theme.

Suggest reverting back to only having three blog posts there so they no longer line up

[2012-10-09 17:31] noelmas opened #68 "Make carousel move automatically"
Currently too static, should flick through automatically, users won't know that they have to click

[2012-10-10 08:30] smth commented on #68
I agree that most people will not navigate through the slides, there are however lots of arguments against automatic carousels. See http://conversionxl.com/dont-use-automatic-image-sliders-or-carousels-ignore-the-fad/

[2012-10-10 08:39] smth commented on #67
I have to say, I think the problem is with the four headings, not the number of blog posts. Reducing the number of post will break this connection, but people will still be confused about what those headings are about, they may even start to associate them with the text above. I'd rather we address the problem directly (somehow), rather than try to minimise the damage..

[2012-10-10 14:53] smth commented on #64
Here is a quite literal interpretation of the wireframe https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_global_01.jpg

I was thinking though, as all the information on the page is geographical, perhaps it should all appear on one large map?

[2012-10-10 16:53] keyboardkat commented on #64
@mintcanary that looks great! and if you _could_ put everything on the map (ie maybe national groups/chapters in red, events in blue) that would be amazing. Have also realised since doing the mock-up that it'd actually be better to put National Groups, Chapters and Ambassadors all in the same place (rather than Chapters being above and separate from groups). I can put the status of the group in th

[2012-10-11 18:56] noelmas commented on #67
Hmmm... I like the four headings and feel that they give people a sense of what we're about. I really don't want to take them out.
Can you think of a way of styling them that would make them more stand alone and look unclickable...

[2012-10-11 19:19] noelmas commented on #68
This is interesting stuff and would have been good to look at before we decided to implement a carousel. Having said that now we have one with lots of important stuff on it that no one looks at I think we should make it move automatically. It's also important to bear in mind that lots of funders want to check our home page to see that the activities they fund are mentioned...

[2012-10-11 19:26] smth commented on #64
Yeah, it seems to me that if we are going to build a map for one list of places, we might as well include the others too. I also meant though that the lists were incorporated into the map, something like this https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_global_02.jpg

[2012-10-11 20:15] smth commented on #68
Although the carousel was added before I came on board, I don't have a problem with static carousels. I liken it to designing a magazine. You want to put all the important stuff on the cover, some people might flick through, so it doesn't hurt to have some more captivating stuff inside, just remember you can't rely on people flicking through. Automatically sliding (I guess this is where the analog

[2012-10-11 20:15] #68 closed, assigned to smth

[2012-10-11 21:54] keyboardkat commented on #64
@mintcanary if that is possible code-wise, that would be ultra amazing. perhaps using some of the work from the Dashboard but applying it only to local/national communities?

:)

[2012-10-12 08:26] smth commented on #64
I'm sure it'd be possible in the hands of a developer. I was wondering if one of our existing tools could be used.

[2012-10-12 14:36] smth commented on #67
How about we move them into the first slide? This also has the advantage of having a clear statement near the top of the page. https://raw.github.com/okfn/okfn.org/master/designs/okfn_08_home_09.jpg

[2012-10-12 15:47] noelmas commented on #67
This is great. Please implement. Do you feel that the only thing now is that the left side is a bit text heavy? Any recommendations for breaking up the text a bit, maybe we could embed a picture underneath Intro the OKFN rather than having that first para...

[2012-10-12 15:57] smth commented on #67
Yeah, that's not a bad idea, I'll see what I can do..

[2012-10-13 11:36] smth commented on #67
Implemented.

[2012-10-13 11:36] #67 closed, assigned to smth

[2012-10-16 20:48] teajaymars commented on #64
Hey guys, I've had a little crack at extracting this data via the Meetup.com API, and once you've worked out that the OKFN's "`container_id`" is `14142` then it's really useful. They provide a really good interactive console for trying this kind of thing out: http://www.meetup.com/meetup_api/console/?path=/ew/communities

I've booted a Github repo with some Python code for playing around with this

[2012-10-17 16:19] rufuspollock opened #69 "Share this button at top (under big image) on opendata page (?)"

[2012-10-18 13:32] smth commented on #64
Have just put that spreadsheet into Fusion Tables (looks like a nice tool) to see what I can do with it. Something to think about; do we want to show all the events on the map (as that current spreadsheet contains)? This will give multiple markers in any location with more than one event coming up. Or do we just show the locations, as I believe the Meetup map does?

[2012-10-18 14:06] rufuspollock opened #70 "Upgrade notebook.okfn.org to have same theme as okfn.org"

[2012-10-18 14:07] rufuspollock commented on #35
Bump! I'm going to start putting some stuff up - I _do_ think that having somewhere for the present to put our main talks etc is useful.

[2012-10-18 14:23] rufuspollock opened #71 "OpenGovernmentData.org front page"
Think this could be much improved (inline with science.okfn.org etc).
- Big summary
- 3 subitems / calls to action - see the dashboard
- Watch the film
- Find out more about open data (link to http://okfn.org/opendata/)

@ddie what do you think?

[2012-10-19 11:23] smth commented on #64
Ok, so I've made this map http://okfnlabs.org/okfn.org/fusion-1.html
It could show chapters, groups and ambassadors as different gradients of green, these would be taken from one spreadsheet. On top of that it shows pending meetups, according to Toms spreadsheet above.
It needs some beautifying, but what do we think in principle?

This is currently using Fusion tables (though not really fusing muc

[2012-10-22 09:46] LaurieJ commented on #65
The problem which was addressed _last time_ was that you couldn't tell what anyone did.  We were just a mass of people.  THe projects/core distinction no longer makes sense, but then we expect to bring in a new structure which will make much more sense, with new role titles, in the coming weeks. I'd suggest we minimise effort on rework now and assume we'll need a big rework shortly.

Our people tu

[2012-10-22 19:46] smth commented on #69
Done.

[2012-10-22 19:46] #69 closed, assigned to nobody

[2012-10-22 19:50] smth commented on #70
Looks like someone has done this.

[2012-10-22 19:50] #70 closed, assigned to nobody

[2012-10-22 20:01] smth commented on #35
What action would you like taken here @rgrp ?

[2012-10-22 20:05] smth commented on #62
Links added to headings.

[2012-10-22 20:05] #62 closed, assigned to smth

[2012-10-23 08:43] rufuspollock commented on #70
Yes, just did this yesterday. sorry to not close the ticket!

[2012-10-24 11:10] noelmas opened #72 "On carousel blog slide change title "OKFN Blog" to "Open Knowledge Blog""
Reminder to self: We need to stop using acronyms!

[2012-10-24 11:16] smth commented on #72
Done.

[2012-10-24 11:16] #72 closed, assigned to smth

[2012-10-29 16:01] keyboardkat commented on #64
@mintcanary that map looks great - if there's a way to do those 3 shades - or even diff colours - (ie, one for National Chapters, one for National Groups, and one for Local Ambassadors/Meetups) that'd be even more amazing!

I'd be happy if this was used for now on the site, so we can get the page up and running for http://okfn.org/local [ie so we no longer have to see that sad and outdated http://

[2012-10-29 16:22] smth commented on #64
You can do three shade of green, currently requires maintaining a separate column with a number 1-3 (could possibly automate this..)
That sounds like a good plan, I'll get on it this week.

[2012-10-30 18:45] rufuspollock opened #73 "Square version of ckan logo and a larger one"
2 requests:
- Square version of this http://assets.okfn.org/p/ckan/img/ckan-logo.png - could we just have the square but with CKAN text inside the white triangle (like http://assets.okfn.org/p/ckan/img/ckan_logo_box.png but with new box you have done)
- Can we get larger png versions (somewhere in range 250px to 500px wide) - I don't mind if these are new defaults and replace old ones or are new

[2012-10-31 19:23] keyboardkat opened #74 "Improvements to 'Join OKFN Mailing List' on OKFN.org homepage"
Please change so this says "Join Us" instead.

Also change so 'Name' is one field and 'Location' is the other field.

[note: this is from Rufus and Kat at C4CC] :)

[2012-10-31 19:41] keyboardkat opened #75 "okfn.org/local relaunch"
Site to be entitled "Local Groups" and to display the following 3 categories. In early 2013, a new domain (local.okfn.org) to be created with more live information - but for now, this to be the main informational hub for Local Group activity.

Note: For details about each of these categories, including content, please refer to 'Page Design' chapter of the Local Groups redesign [Google Doc](https:/

[2012-11-01 14:38] smth commented on #74
What is the thinking behind combining the first and last name fields? It might be nice to retain this separation when it comes to sending out campaigns.

A few thoughts on location field:
- MailChimp does record location automatically I believe, there is obviously a question of accuracy with this however
- For this information to be useful I guess we need everyone entering this at the same level,

[2012-11-01 14:53] keyboardkat commented on #74
cc @rgrp @noelmas - does it record location for each person? essentially, we wanted to know whether we could get people to sign up to mailchimp/announce while also gathering useful info about them (ie, background and location)... :)

[2012-11-01 15:07] smth commented on #74
Yes, it records geodata of every (new) subscription. Because MailChimp know this is geodata it can very easily be used as such, for example to send an email to everyone within so many miles of a town.

[2012-11-01 16:26] smth commented on #73
Both of those have now been replaced:

http://assets.okfn.org/p/ckan/img/ckan_logo_box.png
http://assets.okfn.org/p/ckan/img/ckan-logo.png

[2012-11-01 17:41] rufuspollock commented on #73
I don't want the asymmetric one as square though. I wanted it like the new one because it is so much nicer :-) (I cited the old one as an example ...)

[2012-11-01 17:46] smth commented on #73
It is the new one.. maybe you need to refresh your browser?

[2012-11-01 17:49] keyboardkat commented on #75
@mintcanary @rgrp quick note that regarding the redesign of okfn.org/local ie https://github.com/okfn/okfn.org/issues/64, sam, it may be better for us to have a quick meeting in the next week or so regarding this as some things have changed from the original document after discussions between me+rufus - in the meantime, i'll work on putting text and content up on okfn.org/local. thanks!

[2012-11-01 18:13] rufuspollock commented on #73
Ah sorry!! Looks great!

[2012-11-01 18:13] #73 closed, assigned to smth

[2012-11-05 17:09] rufuspollock opened #76 "Support OKFN should read support us on okfn.org"

[2012-11-05 18:31] rufuspollock opened #77 "Branding and donate/support info across okfn sites (discussion)"
Seems like 2 aspects
- More info about us on every site / OKF branding link
  - http://popcorn.webmaker.org/
  - Little ribbon on openglam is lovely and could be expanded
- Support us / Support our work / Support this project
  - all better than Support OKFN (which is acronym most people won't recognize)
  - Support us could be a bit vague for the general set of websites

could integrate the 2 e.g

[2012-11-06 09:00] rufuspollock commented on #74
@mintcanary combining the fields: not a big deal but just a cleaner 2 fields interface (and i guess we could use space for something else)

Rather than "Join Us" I'd say go for: **"Get updates"** (key thing though is to remove "OKFN mailing list" - most people will want to get news but will not want to sign up to a mailing list for an acronym they may not recognize)

[2012-11-06 13:31] keyboardkat commented on #74
@mintcanary @rgrp i'd still think that getting some sort of personal info from these people (since we won't interact with them directly once they join this list) would be ideal - ie, what is their background? why are they interested?

I believe Sam @noelmas had ideas about what the title of the overall list should be - I'm not sure if get updates would be descriptive enough without any other infor

[2012-11-06 14:06] noelmas commented on #74
Hi - I am very much a -1 to changing this to "Get updates" everything we've been working on including the Comms Plans now being circulated have OKFN Announce as the first point of entry into the OKFN community. "Get updates" is also seriously uncompelling as a call. Look at what a group like Aavaz does with their mailing list and the language they use...

[2012-11-06 14:21] rufuspollock commented on #74
@noelmas "Join the OKFN mailing list" is also seriously uncompelling :-) - this isn't really a call either - we are asking people to subscribe to a mailing list not take action (we are talking about the main page here not other places on the site ...).

Perhaps it would be easier to discuss this in person in the near future :-)

[2012-11-06 14:26] keyboardkat commented on #74
... looking at homepages for both Avaaz and the Code for America Brigade (both of which have great front-end language and UX, as we've already agreed!) the messaging is indeed "Join Us" not "Get Updates".

I think @rgrp's point here was that including "mailing list" in the messaging is not what we'd like people to think about. We want them to feel they're joining a movement, not signing up for ano

[2012-11-08 20:00] smth commented on #76
Where is this?

[2012-11-08 20:11] smth commented on #77
I think creating something that will work across all sites is a good plan. Standardising the ribbon and using it to reveal a panel like the Mozilla example seems like a good idea to me.

[2012-11-09 12:35] noelmas opened #78 "New Thanks page"
We need a page to take donors to after they have successfully donated. It should look good maybe with a picture of someone holding a thank you sign or an equivalent graphic.

Copy is here

https://docs.google.com/document/d/1WH7axy1ilAKU4bKiefkN9gMgAmV-EfFX_zrR9PPM2Js/edit

Once up, I will customise PayPal so it takes you there

[2012-11-12 14:45] smth commented on #78
Page here http://okfn.org/support/thank-you/

[2012-11-12 14:47] #78 closed, assigned to smth

[2012-11-16 12:51] smth commented on #64
@keyboardkat I have shared the map spreadsheet with you and added a map to http://okfn.org/local/ so you can have a play with it. I have noticed though that the coloured tiles can get cached for a long time, so changes may take a while to appear on the map. You may see some polygons as red, even if you have correctly added a number from 1 to 3 (as mentioned above), this is because it is the defaul

[2012-11-16 13:01] keyboardkat commented on #64
Great @mintcanary - thanks for this. Unfortunately when I go to okfn.org/local instead of the map tho, I get "Error 101 (net::ERR_CONNECTION_RESET): The connection was reset". :(

[2012-11-16 13:08] smth commented on #64
Hmm I can't replicate this. A quick search threw up this https://productforums.google.com/forum/?fromgroups=#!topic/chrome/uASReL5OxPk

[2012-11-16 15:05] keyboardkat commented on #64
@mintcanary have also now gotten emails from some local community members who are confused by map - would you mind taking it down for now, and we can work on it later in next few weeks again when we both have time to? I love how it looks - (working now!) - but we'll have to modify it more before it can go public. w00t.

[2012-11-19 08:48] smth commented on #64
Ok, I have removed the map. I didn't realise we were now linking to that page to be honest.

[2012-11-22 20:13] #21 closed, assigned to nobody

[2012-11-22 23:11] smth commented on #76
Assuming this is no longer an issue, closing.

[2012-11-22 23:11] #76 closed, assigned to nobody

[2012-11-23 12:13] #24 closed, assigned to nobody

[2012-11-23 12:22] smth commented on #74
Looks like we've done what we are going to here. Closing.

[2012-11-23 12:22] #74 closed, assigned to nobody

[2012-11-23 12:43] smth opened #79 "Images Recompressed?"
It looks like some of our images have been compressed for a second time, resulting in very poor quality. For example http://okfn.org/wp-content/uploads/2012/10/3dlogo-small.jpg

Does anyone know how this might have happened?

[2012-11-23 14:50] smth commented on #77
An idea of how this could look https://raw.github.com/okfn/okfn.org/master/designs/brand-panel_01.jpg

[2012-11-26 11:05] smth commented on #79
Hmm, that image seems to have reverted back to its previous version.. weird.

[2012-11-26 11:12] smth opened #80 "Footer"
Now that we are no longer displaying supporter logos in the footer, does anyone have any suggestions for content to go there.

It has been suggested to me that there should be some licensing information in the footer as standard. This raises the question of what content should be controlled via widgets, and what should be hard-coded into the theme.

[2012-11-26 11:15] noelmas commented on #80
Out of interest why are we not showing supporter logos in the footer? I thought they were awesome and served our purposes exactly...

[2012-11-26 11:15] smth commented on #75
@keyboardkat, are you ready to discuss/work on this?

[2012-11-26 11:21] smth commented on #80
As I understand it, @rgrp was concerned that showing the supporters may make potential supporters see us as less in need of their contribution.

[2012-11-28 16:08] noelmas opened #81 "Implement customisable Mailman sign up bar or widget for Master Theme with Announce tick box"
This needs to be easily customisable (text and mailing list) for each instance of master them (WG or project).

Importantly this needs a tick box option (at any stage) as to whether they also want to sign up to OKFN Announce and receive news about the Open Knowledge Foundation.

[2012-11-29 19:35] smth commented on #81
What text needs to be customisable?

Presumably, if the tick box is selected the details are to be sent to the MailChimp list as well as the Mailman one?

[2012-11-30 09:28] noelmas commented on #81
Cutsomisable text would just be the wording of the invitation "Please sign up" "Join us" etc

The tick box will mean the address is also sent to Mail Chimp for OKFN announce. Most other lists will be on Mailman

[2012-11-30 09:32] smth commented on #81
Ok, so we want someone to fill in their details once, and click one button, but two forms to be filled and sent. This is going to require some development work, assigning @zephod

[2012-11-30 09:34] noelmas commented on #81
Exactly but to be clear their details only get sent to Mailchimp / OKFN Announce if they tick the box

[2012-11-30 09:36] smth commented on #81
Yes sorry, _potentially_ two forms to be filled and sent.

[2012-11-30 11:53] smth commented on #81
The existing MailChimp bar now supports Mailman, as seen here http://openeconomics.net/

The check-box is there, but disabled until we get the development done.

[2012-11-30 11:57] noelmas commented on #81
I might be blind, but I can't see that bar

[2012-11-30 12:04] smth commented on #81
Above the footer

[2012-12-04 21:05] rufuspollock commented on #35
I've started a listify spreadsheet: https://docs.google.com/spreadsheet/ccc?key=0Aon3JiuouxLUdE1SM0NEWTJHMzAwVDVZVVFWNUc3UEE

[2012-12-05 09:38] smth commented on #35
Is the plan to put each set of slides in a blog post? If so, having a category for slides could be the answer here.

[2012-12-06 12:46] smth commented on #81
@zephod it may also be useful to have the option of a separate Mailman list (as an alternate for Mailchimp) for the newsletter opt-in.

[2012-12-06 12:53] smth commented on #55
I didn't see your reply (don't get notifications when someone updates the issue description). If we decide to go for this, it seems disqus has a nice plugin for it (http://wordpress.org/extend/plugins/disqus-comment-system/), which I could implement.

[2012-12-06 13:01] smth commented on #79
No answers I guess.. closing.

[2012-12-06 13:01] #79 closed, assigned to nobody

[2012-12-06 15:24] rdonovan commented on #55
@mintcanary this item is on my list also. We are going to trial that plugin on blog.okfn. I'll set that up in the next 1-2 days.

[2012-12-06 15:46] rufuspollock commented on #77
@mintcanary like it

Also added comment in main issue about need for ribbon with more info - not absolutely sure but we need to think about it ...

[2012-12-06 15:52] rufuspollock commented on #77
Re the JS (and images?) Do we want this to run from a central location on assets.okfn.org (at least for js).

This way, wherever we put this (and we _will_ use this on sites other than WP ones - cf wheredoesmmoneygo.org) and this way we can go upgrade without having to mess with original sites (once they have it installed)

[2012-12-06 16:04] smth commented on #77
JS is all Bootstrap, so there is no additional code to host anywhere. CSS will be determined by the theme and theme options, so can't/shouldn't really be separated. We could perhaps put the content in assets somewhere, in an xml file or something.. The search will be powered by Wordpress, so will have to see if that will still function from a non WP site, but I don't think that will be a problem.

[2012-12-06 22:04] rdonovan commented on #55
This is done.

[2012-12-07 09:30] smth commented on #55
Excellent. Closing.

[2012-12-07 09:30] #55 closed, assigned to nobody

[2012-12-07 11:30] smth commented on #77
The Wordpress side of this is now live. Example here: http://openeconomics.net/

[2012-12-07 11:33] smth commented on #77
Regarding more details in the ribbon, my feeling is that if anyone wants to know what it's about, they will click it. So space is probably better reserved for other content (such as nav items).

[2012-12-07 16:19] keyboardkat commented on #75
Note: Adding updates about our convo on Dec 7th in a minute!

[2012-12-07 16:24] rufuspollock commented on #64
INVALID. out of date - see instead #75.

[2012-12-07 16:24] #64 closed, assigned to smth

[2012-12-09 18:46] smth commented on #77
After thinking bout it for a while, I decided the best way to make sure this can be included on any site was to put it in an iframe. This is now done, example and instruction how to implement here http://assets.okfn.org/themes/okfn/docs.html

[2012-12-10 17:13] rufuspollock commented on #75
@keyboardkat I really feel we need to get the content sorted without much design before bringing the design side (though it would be nice to see a map set up - though that can be done separately and embedded / iframed later ...)

[2012-12-10 18:22] keyboardkat commented on #75
@rgrp Point taken - I've now added BOTH content and design notes to the Redesign [Google Doc](https://docs.google.com/document/d/1Si30LvVENoiCqsChG8qmroqC82YZMNXAQnY9Bi_plHU/edit#). @mintcanary you'll find both text and details about the content (as we discussed) under the 'Page Design' part of this doc. Thanks!

[2012-12-11 17:58] rufuspollock commented on #65
@mintcanary can we at least deprecate (i.e. delete - i'd suggest copying current content into an html comment in main team page so we have a backup):
- international chapter
- working groups team pages for the present.
- merge the core team and projects team into the main page
- remove the big photo at the top

For the rest, I guess key first steps would be what are we going to show? My guess is n

[2013-01-04 17:30] smth commented on #65
Done. I haven't touched the sub pages, just removed links to them.

[2013-01-07 10:45] stefanw commented on #35
+1 for `/talks`. We certainly want to put up additional material beyond slides like recordings, maybe related resources, links etc.

[2013-01-07 11:11] rufuspollock commented on #35
http://okfn.org/talks is operational - atm it is just a listify embed but we can improve on this as we go along.

[2013-01-15 10:00] rufuspollock opened #82 "Location of share this buttons"
Much more effective on e.g. http://okfn.org/opendata/ than at the bottom as on most pages ...

[2013-01-15 10:52] smth commented on #82
I just had a quick look at the plugin we are using, I see no support for changing the location. I'm sure we could hack it into place, but that would probably take more code than the plugin is generating, so might as well just ditch the plugin and write ~~ShareThis~~ sharing into the theme.

Some would argue of course that the bottom of the page is the best location, as you are probably going to re

[2013-01-23 09:54] rufuspollock opened #83 "Page load performance improvements on blogfarm"
(was:Think about our page sizes (discussion))

First, what are our options:
- Reduce page sizes (see below)
  - Be more careful about using images
- Use a CDN more - #91
  - one attractive aspect would be that we could centralize on WP again as our host point for image files ...
- Reduce the number of different things we are loading e.g.
  - Do we need tweetblender loading on every site and every

[2013-01-23 10:14] smth commented on #83
Seems to me that all the large chunks of time are coming from externally hosted files (which is probably to be expected), so one obvious solution would be host everything ourselves.. On one level this could be not using remotely hosted js files, on another level this could mean being more strict with our content. We shouldn't be hot linking files like this for example http://epsiplatform.eu/sites/

[2013-01-24 01:02] rdonovan commented on #83
Externally hosted js/css etc is typically a good thing as a dedicated CDN is going to be much faster at serving these types of files than our server. But I suspect @mintcanary you're rather referring to sporadic images here.

The browser extension Yslow gives a really good insight into the problem areas of performance for websites. For okfn.org this appears to highlight better use of CDN's and ass

[2013-01-24 12:04] smth commented on #83
Yes, most of the JS will be fine, and the images do seem to be mostly to blame. In terms of JS, I was thinking of the odd service which seems to noticeably slow down page loading. I often notice (on various sites) that 'share' buttons take forever to load, for example. ShareThis is one plugin we could perhaps ditch, in favour of integrating something like this http://filamentgroup.com/lab/socialco

[2013-02-13 11:30] #35 closed, assigned to rufuspollock

[2013-02-19 12:04] smth opened #84 "Newsletter Signup"
I see the Mailchimp signup bar has been removed from okfn.org, is this intentional?

[2013-02-20 10:43] rufuspollock commented on #84
No i moved it to the footer ... (or at least attempted to - thought i set right values int he config but i may have got confused since can't see it there now ...)

Personally I think we probably want it in the body below the fold rather than in the footer or at the very top of the page (which is a bit weird ...)

[2013-02-20 12:14] smth commented on #84
I have reactivated it now.
The last brief requested it to be in the same position as on sunlightfoundation.com, which is just above the footer, which is where it is..

[2013-02-20 12:21] rufuspollock commented on #84
@mintcanary much appreciated!

[2013-02-20 12:22] #84 closed, assigned to nobody

[2013-02-22 10:14] #75 closed, assigned to keyboardkat

[2013-02-22 10:17] smth opened #85 "okfn.org/local/ spreadsheets"
New map implementation is great. However, it looks like the map and the list below it are now running from two separate spreadsheets. List JS needs to be updated to run from same doc as the map.

[2013-02-22 14:28] smth opened #86 "okfn.org Homepage Buttons"
Space between buttons looks weird.
There is no space between them when they are stacked vertically (small screens)

I propose the margins be adjusted accordingly.

[2013-02-22 14:31] smth commented on #86
Fixed.

[2013-02-22 14:31] #86 closed, assigned to smth

[2013-03-02 22:57] rufuspollock opened #87 "openeconomics.net frontpage is 1.3MB (!)"
Also takes ~3s to load. See http://tools.pingdom.com/fpt/#!/knsQZApWf/openeconomics.net

Some of this is the very elaborate front page image (~0.5Mb ...)

/cc @vndimitrova @mintcanary

[2013-03-06 16:24] smth commented on #87
Yeah, there are a couple of unnecessarily large image files there :/ That aside, it's probably an average size for a web page isn't it?

[2013-03-07 10:30] rufuspollock commented on #87
I'm not sure but my feeling is that over 1MB is pretty big  - think about what this is like for mobile or in a country with slow internet. (Perhaps worth doing some quick research)

I know some of this is images for blog posts which we can't control but for the rest we should try and pull this down ...

[2013-03-12 11:55] smth opened #88 "TOC Plugin"
The table of contents plugin we use (Hackadelic WordPress Table Of Contents), causes lots of problems and does not appear to be maintained. Working around this plugin is a pain, and sometimes not feasible.

I propose we replace this plugin with another. A quick test of this one http://wordpress.org/extend/plugins/table-of-contents-plus/ shows it is an improvement, and uses the same shortcodes, so

[2013-03-12 15:41] smth commented on #88
Done.
Anyone else wanting a TOC plugin should active the above.

[2013-03-12 15:41] #88 closed, assigned to smth

[2013-03-12 19:52] ddie opened #89 "WP plugin "share this" not working on okfn.de"
I have a issue with share this on http://okfn.de/blog/

The menue form WP plugin "sharethis" doesn't show up: neither in the list of all posts nor in the single post view.

I have tried changing almost all related settings but without any success. I wonder if you have any advice or if you could point me into the right direction. Thanks in advance!

[2013-03-19 09:34] smth commented on #89
Just had a look, I'm seeing the ShareThis buttons.. Are you still having problems with this @ddie ?

[2013-03-19 09:39] smth opened #90 "ShareThis Plugin"
Is it necessary to have the ShareThis plugin network activated? It would be nice to have the option to use a different method of sharing, or just remove he overhead of this plugin.

[2013-03-24 10:33] rufuspollock opened #91 "Consider switching wordpress farm to use CDN for media using e.g. Total Cache"
http://wordpress.org/extend/plugins/w3-total-cache/ - does more but we could just use CDN part of it ...

We could also ask pagely ...

[2013-03-24 10:38] rufuspollock commented on #83
@mintcanary @rdonovan - just refactored title and description to focus on really issues.

Aside: +1 one on ditching sharethis for something more customizable and flexible ...

[2013-03-24 10:57] everton137 commented on #80
At least have a note that our content is CC-by would be good. It is funny do not have this more explicity.

[2013-03-24 11:02] everton137 opened #92 "Mention more explicitly CC-by on OKFn sites"
Repeating a 5 months old e-mail.

"I've circulated this blog post yesterday
http://openglam.org/2012/11/07/culture-must-always-be-a-commons/ and
a friend pointed out that there is no mention to the content license.
I also noticed that our main site just mention it here
http://okfn.org/terms-of-use/#what-we-do-with-your-content.

Wouldn't be better to have the CC-by license more explicitly on all p

[2013-03-24 13:38] rufuspollock opened #93 "Plugin suggestion: insert images from url to media library (?)"
For discussion ...

http://wordpress.org/extend/plugins/save-grab/

[2013-03-24 13:55] everton137 commented on #93
Is people are aware not to add closed images and if there is no techincal prohibing it, it seems interesting.

Although I am not sure it it will make blog posting faster.

[2013-03-24 14:21] everton137 opened #94 "OKFN wiki: discover why so many spam accounts are created"
Some MediaWiki extensions were already installed trying to solve that. [1] I think what is missing is to configure our filters of abuse filter [2] like the ones we have on Wikipedia. [3]

Or should we migrate to another wiki like MoinMoin or someother wiki? I think if we solve the spam problem, then we can continue with MediaWiki.

http://www.mediawiki.org/wiki/MoinMoin

[1] http://trac.okfn.org/t

[2013-03-25 08:56] rufuspollock commented on #80
@everton137 but it varies in some cases across sites. Reference to the IP policy is also important as it may cover more. This way we don't have to update things into two places if anything changes.

@noelmas the challenge was the number of different supporters we had ...

[2013-03-25 09:40] smth commented on #83
ShareThis: #90

[2013-03-27 19:14] harry-wood commented on #94
That was raised quite a while ago. Let me tell you what I can see of the wiki spam situation these days.

For a long time the wiki has had captchas enabled on user registration and on any edit including an external link. Quite an effective barrier, but...

About a month ago I noticed that spam was coming in and filling the wiki with junk. There's just one or two spamming dicks who manage to bypass

[2013-04-01 03:57] everton137 commented on #94
(Thanks for this detailed explanation, @harry-wood ! I will try to help later. P. S. Just noticed you're the guy who came here to the OKFN Brasil meetups! :D)

[2013-04-03 11:22] smth opened #95 "Add Search Bar (to home page)"
Currently, a search bar can be enabled in the theme options, however, this will not be displayed on the home page (see ckan.org).

Obvious alternative location for okfn.org seems to be the (currently under utilised #80 ) footer. @LaurieJ how do you feel about putting the new search box here?

[2013-04-03 11:29] smth commented on #93
I fear this could make it even more tempting to not properly resize and compress images before use.

[2013-04-03 11:32] smth commented on #89
Closing, assumed fixed..

[2013-04-03 11:32] #89 closed, assigned to nobody

[2013-04-03 11:49] smth commented on #85
@rgrp has this been fixed?

[2013-04-03 11:54] smth commented on #60
As we are no longer using this template, I'll close this.

[2013-04-03 11:54] #60 closed, assigned to teajaymars

[2013-04-03 11:58] smth commented on #81
Assigning this to @nigelbabu I'd say this is low priority, but if you get a quiet period, you may want to think about it / discuss with @noelmas

[2013-04-03 12:04] smth commented on #82
New sharing plugin (Socialite) has option to place button at top of page.

[2013-04-03 12:33] everton137 commented on #85
What is the JS? It'd be good to point it here so that other can possibly help.

[2013-04-03 13:17] smth commented on #85
http://assets.okfn.org/p/okfn/app/local-groups/list.js

[2013-04-03 13:19] rufuspollock commented on #85
@mintcanary i can fix now ...

[2013-04-03 13:49] rufuspollock commented on #85
FIXED. Just pushed corrections to assets.

[2013-04-03 13:49] #85 closed, assigned to nobody

[2013-04-03 14:43] rufuspollock commented on #85
@mintcanary note styling seems a bit wrong (I've tried to exactly duplicate original css classes etc but let me know if something needs correction there)

[2013-04-03 14:58] smth commented on #85
Nice. Looking at the HTML, it looks like the .status span needs to be moved to inside the .text span.

[2013-04-03 15:10] rufuspollock commented on #85
Fixed ...

[2013-05-03 09:11] rufuspollock commented on #38
@noelmas @mintcanary Should we close this as now either fixed or out of date?

[2013-05-03 09:16] smth commented on #38
I'm not entirely sure what this issue is, so I'll leave it up to you guys.

[2013-05-03 09:22] rufuspollock commented on #38
FIXED or now INVALID.

[2013-05-03 09:22] #38 closed, assigned to nobody

[2013-05-03 09:22] rufuspollock commented on #53
I believe @beatricemartini is now dealing with this.

[2013-05-03 09:23] rufuspollock commented on #22
WONTFIX for the present IMO.

[2013-05-03 09:23] #22 closed, assigned to nobody

[2013-05-03 09:23] rufuspollock commented on #65
FIXED. Much improved a couple of months ago!

[2013-05-03 09:23] #65 closed, assigned to nobody

[2013-05-03 09:24] rufuspollock opened #96 "Drop in Get Involved Widget (or instructions for setting up get involved)"
Simplest option here is a google form. Still need a standard set of fields (see our past efforts).

More sophisticated would have a common google form and use the simple JS hack to post to a google form from JS (cf https://github.com/okfn/scodaquiz and https://github.com/okfn/opendatacensus)

[2013-05-03 09:26] rufuspollock commented on #54
WONTFIX.

[2013-05-03 09:26] #54 closed, assigned to nobody

[2013-05-03 09:26] smth commented on #53
Yes, as am I. @beatricemartini assigned.

[2013-05-03 16:47] smth opened #97 ""Network-wide options" link"
Is the "Network-wide options by YD - Freelance Wordpress Developer" link at the bottom of okfn.org pages intentional? It looks a bit spammy.

[2013-05-03 16:48] rdonovan commented on #97
Not intentional. It's a plugin I installed, I'll take care of it.

[2013-05-03 16:50] smth commented on #97
Ok, cool.

[2013-05-03 17:01] rdonovan commented on #97
It's gone.

[2013-05-03 17:06] #97 closed, assigned to nobody

[2013-05-04 10:45] rufuspollock commented on #71
FIXED. I think we can close this as a bit of a rework got done ~ 2m ago.

[2013-05-04 10:45] #71 closed, assigned to ddie

[2013-05-09 01:51] everton137 opened #98 "Broken link at OKFn registration page: okfn.org/governance"
When you try to register at http://okfn.org/register/ the link http://okfn.org/governance/#community-membership is broken.

[2013-05-09 01:54] everton137 opened #99 "Error when trying to add a new user at br.okfn.org: it is asking a CAPTCHA"
When I tried, it is appearing the error message "ERROR: Please fill in the reCAPTCHA form."

Link: http://br.okfn.org/wp-admin/user-new.php

[2013-05-10 13:34] smth commented on #90
I have network deactivated ShareThis, and installed a [lazy load sharing plugin](https://github.com/dbushell/Socialite). People using the OKF theme will be prompted to activate this, when logging into the admin panel.

[2013-05-10 15:52] smth commented on #90
Reverted back to ShareThis.

[2013-05-10 15:53] smth commented on #82
Reverted back to ShareThis plugin.

[2013-05-10 16:03] smth commented on #83
So nobody repeats the process that I just went through, we are not ditching ShareThis as a service.

[2013-05-15 08:49] LaurieJ commented on #95
Search box is really needed for okfn.org at least.   Footer is not the place for this - breaks all good web ux practice rules. Standard is top right area of a page.

Footer would be better than nothing, and might be ok as an interim solution, but I would say this is  inadequate and I expect us to solve this sort of problem in the coming few months at most - site search in a way/place where people

[2013-05-15 10:12] smth commented on #95
Agreed. The problem we have is wanting _everything_ to be in that prominent position. This site in particular is very much designed by committee, so is difficult for one person to make a call as to what should take prominence.

A couple of options, given the space we have to work with at present:
- A search bar alongside the call to action buttons
- An icon in the navigation, that when click, reve

[2013-05-15 10:28] LaurieJ commented on #95
Move newsletter signup to footer.

Add search icon (mag glass) to right hand end of nav bar, which when clicked, makes a search bar.

Problem solved ;)

[2013-05-15 12:38] smth commented on #95
Icon and search added.

I'll leave the newsletter where it is for now, I don't think it's too much of a clash with this method, and presumably it was moved up there for a reason (it can easily be moved at any time).

[2013-05-15 12:38] #95 closed, assigned to nobody

[2013-05-28 18:57] rufuspollock opened #100 "Bugs with default theme navbar and ribbon"
See e.g. http://opendatacommons.org/
- tagline is in white and hardly readable
- ribbon overlays navbar links

@mintcanary - can you take a look

Here's a screenshot http://awesomescreenshot.com/02c1bvsi17

[2013-05-29 08:33] smth commented on #100
Tagline fixed.
I'm not seeing that ribbon issue. Did you have it set to something other than 'relative' in the settings?

[2013-05-29 20:29] rufuspollock commented on #100
I don't know re relative. I had not touched the config on this for months and just noticed now when I went to the site ...

[2013-05-30 08:22] smth commented on #100
Must have been a cache issue then. All seems fine now. Closing issue.

[2013-05-30 08:22] #100 closed, assigned to nobody

[2013-06-14 09:29] harry-wood commented on #94
I still haven't had any help from anyone keeping up with remove of spam.

I have however been able to chat more with the sysadmin Joel. I got him to change the captcha system to QuestyCaptcha with a custom set of questions, to see if this performs better at keeping the spam out.  It didn't seem to reduce the rate of spam, but we are seeing that all the spam is without links.

So previously edits w

[2013-06-17 10:26] smth opened #101 "Twitter Plugin"
The Twitter plugin (Tweetblender) currently in use on okfn.org (and probably other sites on our blog farm) no longer works (since the retirement of Twitter API v1). It doesn't look like the author intends to update it.

[2013-06-17 15:52] smth commented on #101
This is looking like a reasonable replacement to me http://wordpress.org/plugins/jm-last-twit-shortcode/

[2013-06-21 08:54] rufuspollock opened #102 "Better avatars - Make default avatar more neutral"
Having the monster style avatar is not so great when it shows up as avatar on e.g. blog.okfn.org posts. 2 thoughts here:
- Make default avatar more neutral (e.g. anonymous man avatar)
- Use gravatars where possible (?)

[2013-06-21 08:59] smth commented on #102
Can you give an example of this avatar?

Last time I saw the default avatar is was an anonymous man.
Gravatars are already used where possible.

[2013-06-21 09:12] rufuspollock commented on #102
See http://blog.okfn.org/2013/06/20/making-transparency-visible-an-update-on-ogp-in-ireland/

[2013-06-21 09:19] smth commented on #102
Strange, the default for that site should be this
![avatars](https://f.cloud.github.com/assets/1375708/686260/93c39272-da53-11e2-977b-5e067f0a2f14.jpg)

@rdonovan any thoughts?

[2013-06-21 09:50] nealbastek commented on #102
This looks like it could help solve the issue of admins not being able to edit user profiles i.e. override the default avatar and/or user settings w/o having to login as that user:

http://thereforei.am/2011/03/15/how-to-allow-administrators-to-edit-users-in-a-wordpress-network/

[2013-06-21 14:55] smth commented on #101
To restore feed:
- Activate above plugin
- Add a text widget containing something like: [jmlt count="4" show_twittar="on"]

[2013-06-21 14:55] #101 closed, assigned to smth

[2013-06-21 18:49] rdonovan commented on #101
@mintcanary can the Tweet Blender plugin be deactivated and removed? It has left some rather large database tables that would be nice to trim.

[2013-06-21 19:53] rdonovan commented on #102
@mintcanary It's a BuddyPress "feature". The default is supposedly loaded from a setting somewhere, but I can't find an option to set this anywhere in the BP settings - https://github.com/buddypress/BuddyPress/blob/master/bp-core/bp-core-loader.php#L167.
And when the option is not set, it defaults to the Monster style - https://github.com/buddypress/BuddyPress/blob/master/bp-core/bp-core-avatars.p

[2013-06-21 19:57] rdonovan commented on #102
@nealbastek thanks for the link, that does look like promising to solve the site admins can't edit their own site users problem. I'll take a closer look soon.

[2013-06-23 11:58] rufuspollock opened #103 "Move okfgovernance pages back to /governance"
This would also fix #98

[2013-06-23 12:01] rufuspollock opened #104 "Smaller sizes of okfnlabs logo in assets.okfn.org"
e.g. one suitable for header http://okfnlabs.org/ or for http://publicbodies.org (sizing down the big version does not work so well ...)

And while we're at it ;-) could we get a nice square labs logo for use on e.g. https://twitter.com/okfnlabs or for gravatars ...

[2013-06-24 08:44] smth commented on #101
I don't see why not.

[2013-06-24 09:37] smth commented on #104
http://assets.okfn.org/p/labs/img/logo-flask.png
http://assets.okfn.org/p/labs/img/logo-flask-small.png
http://assets.okfn.org/p/labs/img/logo-flask-large.png
http://assets.okfn.org/p/labs/img/logo-flask-avatar.jpg

[2013-06-25 15:28] rufuspollock opened #105 "Standard blog entry list page does not look right"
In particular author info is out on its own above the entry.

![latest posts open knowledge foundation blog](https://f.cloud.github.com/assets/180658/703507/e31d3b1a-ddab-11e2-9833-6fd8c44a9059.png)
http://blog.okfn.org/latest

[2013-06-25 15:29] rufuspollock commented on #105
@mintcanary assigning to you in the first instance just to take a look - not super urgent!

[2013-06-26 10:04] smth commented on #102
Thanks @rdonovan, I have added that code to the functions file, however I cannot test it as I cannot reproduce this problem. When testing on my local version, 'mystery man' avatar is already used, though it does fail to load, due to this issue http://buddypress.trac.wordpress.org/ticket/4571

I'm curious to know whether this fix has introduced the above issue into the live sites..

[2013-06-27 19:42] smth commented on #105
This how now been styled like the single post page.

[2013-06-28 16:38] rufuspollock opened #106 "RSS feed link in sidebar should have email signup option as well as pretty button :-)"
Sign up by email with subscriber count is nice for RSS feed - any way to get it back (i know it disappeared a while ago ...)

[2013-07-01 11:24] smth commented on #106
Yes, we can get it back, the issue is "do we want it?". I seem to recall it was a considered decision to remove email signup for the RSS feed. Has this now been reconsidered?

[2013-07-01 11:59] rufuspollock commented on #106
Any link to discussion about desire to explicitly remove this. It did seem quite useful but if there was good reason to remove wouldn't want to reverse that ...

[2013-07-01 12:16] smth commented on #106
If I remember correctly, the discussion I was involved in was a phone conversation between myself and @jwyg. The reason for removing was that it was confusing to have two email signups on the page, the mailing list was deemed more important, and people could subscribe to the RSS feed however they see fit, so long as they have the link.

As I say, this is from memory, so please correct me if I'm wr

[2013-07-02 04:35] everton137 commented on #99
It seems I have the same problem at the School of Data in Portuguese (escoladedados.org). It always is asking to fill a reCAPTCHA form when I try to create a new user that for a person that doesn't have an account at our network.

I was asking for people to register at our network so that I could add them, but it seems the link http://okfn.org/register/ was disabled. Why is that?

[2013-07-02 04:41] everton137 commented on #99
P. S. I have activated reCAPTCHA at br.okfn.org and it reduced a lot the number of spam. But it seems I cannot disable it now in the list of installed plugins.

[2013-07-02 14:55] rdonovan commented on #99
@everton137 The global registration page is still active on http://okfn.org/register/. If you're currently logged in or have a saved session, BuddyPress blocks the registration page and redirects you to the homepage. Use an incognito window to verify.

I'm able to reproduce the Captcha issue on the new user form in the admin, I'm investigating that now.

[2013-07-02 15:38] rdonovan commented on #99
The wp-recaptcha plugin is no longer actively maintained. Fortunately this issue only required a simple fix to the plugin code, which I've now deployed to our server. See fork [here](https://github.com/rdonovan/wp-recaptcha)

You should now be able to add users in the admin without seeing the captcha error. Please test and confirm.

[2013-07-02 16:53] everton137 commented on #99
@rdonovan, it is working in both now, br.okfn.org and escoladedados.org. Thank you very much!

And dumb me about trying the registration link whilst logged in. :/

[2013-07-02 17:03] #99 closed, assigned to nobody

[2013-07-04 09:56] rufuspollock commented on #105
I'm just reopening because e.g. this page looks weird: http://blog.openspending.org/2013/06/30/

In particular sidebar is at the bottom of the page and top part does not look great ...

[2013-07-04 10:03] smth commented on #105
I think this is a different template, the equivalent would be http://blog.openspending.org/
However, whatever page this is, it is broken. I'll take a look.

[2013-07-04 16:21] #105 closed, assigned to smth

[2013-07-07 14:42] rufuspollock opened #107 "Badges for official contributors"

[2013-07-07 14:45] rufuspollock opened #108 "List "Leads" on members page (or about)"
Issue created on wrong repo. Should be https://github.com/okfn/okfn.github.com/issues/70

[2013-07-07 14:46] rufuspollock commented on #108
INVALID. Wrong repo to create issue on!

[2013-07-07 14:46] #108 closed, assigned to nobody

[2013-07-17 09:17] rufuspollock commented on #107
INVALID. Wrong repo: https://github.com/okfn/okfn.github.com/issues/88

[2013-07-17 09:17] #107 closed, assigned to nobody

[2013-07-17 09:19] rufuspollock opened #109 "Fix images on http://2011.okcon.org/"
All still point to http://okcon.org/files/2011/05/BpB_Logo-e1304348073299.jpg

For some reason images were not made relative!! (Good point for the future ...)

[2013-07-17 09:22] rufuspollock commented on #92
@jpekel certainly an issue that openglam.org does not reference IP Policy or terms of use on main site.

However, on general point think best approach is to link those rather than insert license onto each site.

[2013-07-17 10:39] smth commented on #92
I'm in the process of creating a global footer for all our sites, the contents of which will be pulled from, and maintained from a single location. As it stands, this content is the three links you can see at the bottom of this page: http://assets.okfn.org/themes/okfn/okf-footer.html Content suggestions welcome.

That pages also shows how this footer can be included in non-wordpress sites (wordpre

[2013-07-17 12:19] everton137 commented on #92
@mintcanary a global footer is a good solution, but we have to think about the possibility of local groups websites, where it should point to pages in the local language.

[2013-07-17 12:22] smth commented on #92
This is a good point. I wonder though, if it might make more sense to keep the pages centralised, but have multiple languages included. This seems to me like it would be the simplest to implement and maintain.

[2013-07-17 12:32] smth opened #110 "Images Missing from Wordpress Media Library"
All images appear to be missing from the okfn.org media library. PDFs remain.

[2013-07-17 12:53] everton137 commented on #92
I think that is good. And the main page could change its language according to the browser locale, as happens, for example, at commons.wikimedia.org.

But I wonder if a local group has a different privacy policy than OKF Central, for instance. (Just pointing out possible issues.)

[2013-07-17 12:54] everton137 commented on #92
Well, then the page in that local language will have the local group policy. Duh.

[2013-07-17 19:34] rdonovan commented on #110
This is a big problem. The entire directory on the server is empty. Any ideas how that happened?

I've uploaded all the files I have locally, but it has been some weeks since I synced that folder, so probably still missing recently added files.

[2013-07-17 19:42] everton137 commented on #110
Maybe for this OKF logo disappeared from http://okfn.org/ ?

[2013-07-18 08:14] smth commented on #110
I'm guessing the images were not deleted via the Wordpress interface, as Wordpress thought they were still there. What does that leave us with? They were deleted directly from the database?

So we need to manually replace any image which is still missing @rdonovan ?

Yes @everton137 , that is why that image has disappeared.

[2013-07-18 08:29] smth commented on #110
@rdonovan I can see in the admin panel the images you have restored, however, it seems these images cannot be found at their corresponding urls. For example, the logo image mentioned above should once again be found at http://okfn.org/wp-content/uploads/2013/02/homepage-logo.jpg but I'm getting "page not found".

[2013-07-18 11:57] everton137 commented on #110
Do we have a backup of the directory with uploaded images? (cc @joelrebel)

[2013-07-18 12:06] everton137 commented on #110
We could add the main logo in the mean time. I just found this small version http://www.h-online.com/imgs/43/1/0/3/6/1/6/7/okfn3-a3a3c3840005c3ab.png I couldn't find at archive.org.

[2013-07-18 12:15] smth commented on #110
I have put the proper image in assets and linked from there.

The images seem to have been restored now (though the logo image was an older version).

[2013-07-19 02:56] rdonovan commented on #110
@mintcanary perhaps there was a delay in the files being publicly visible after I uploaded them? The ridiculous cache maybe? They all appear to be visible now.

And fortunately even the most recent file appears to be there, so it seems my local version was indeed in sync on account of no new assets being uploaded since June 21st.

@joelrebel I don't suppose there has been any response from Pagely

[2013-07-19 05:27] joelrebel commented on #110
@rdonovan Pagely don't seem to take backups themselves but request Firehost for it.

[code]

@mintcanary, @rdonovan I have a hunch this happened because of wordpress being upgraded to 3.5.2 ?
I see a notification in the Admin panel that its been upgraded, and a few similar reported issues online, point to the cause being an upgrade.

http://wordpress.org/support/topic/upgrade-to-35-emptied-media-l

[2013-07-19 21:09] rufuspollock opened #111 "sharethis somewhere prominent and elegant (top of posts, top of sidebar ...)"
Here's an example from a wordpress blog:

![elegant-wp-blog](https://f.cloud.github.com/assets/180658/828542/72f2a7ac-f0b7-11e2-96b7-1845e00fe232.png)

[2013-07-22 08:08] smth commented on #111
Duplication of #82

[2013-07-22 08:08] #111 closed, assigned to nobody

[2013-07-22 15:57] rdonovan commented on #110
@joelrebel, I don't see how this is a WP Upgrade issue. The articles you link to above suggest upgrading from 3.4.2 to 3.5. Our most recent upgrade would have been from 3.5.1 to 3.5.2. Furthermore, it appears the people reporting the issues in the threads above also discovered that their issue lay elsewhere.

The blogs.dir folders are the equivalent uploads directories for each site on the Multisi

[2013-08-07 17:38] rufuspollock opened #112 "Default page title title is *smaller* than h1 in body of page"
If you create a page in default okfn them the page title (set in wordpress title) is _smaller_ than h1 in body of page (and h2 too!)

This does not look right and suggest we make page title bigger (perhaps also true for posts ...)

Example:

![hangouts the openspending blog](https://f.cloud.github.com/assets/180658/926252/3896c4e6-ff88-11e2-9dea-a79b2fb60aa4.png)

[2013-08-07 18:22] rufuspollock commented on #103
FIXED. (Last week). Added redirect for base page though not subpages.

[2013-08-07 18:22] #103 closed, assigned to rufuspollock

[2013-08-07 19:20] everton137 commented on #98
@rgrp, yes, it is fixed, but to be more precise, the link at http://okfn.org/register/ should be just http://okfn.org/governance/ without the "#community-membership". :)

[2013-08-11 13:41] rufuspollock opened #113 "[suggestion] switch our okfn.org search to use google custom search"
http://wordpress.org/plugins/google-custom-search/

Why?
- Much better search results
- Search results across multiple sites

Note:
- We already run a bunch of google custom search at http://okfn.org/site-search but it is not integrated (or probably widely known)
- the above example plugin (there are probably others) allows you to do search across multiple sites - this could be very useful (e.g. i

[2013-08-12 16:06] rufuspollock opened #114 "Cannot see page revision options in our pages on wordpress sites"
See http://en.support.wordpress.com/pages/page-revisions/ for what i would expect.

Have we turned off page revisions? (did our migration include page revisions)?

[2013-08-12 16:12] joelrebel commented on #114
This was discussed today - WPEngine disables Revisions by default, something we recently figured.
Bobby will be getting it enabled with limited number of page revisions to be sure we're not hit by performance issues.

http://support.wpengine.com/i-noticed-revisions-are-disabled-why-and-how-do-i-enable-them/

[2013-08-12 16:13] rufuspollock commented on #114
OK, what happened to all the old revisions we had? And what's the effect on performance of storing _all_ revisions?

[2013-08-12 17:42] everton137 commented on #114
I am really interested in this topic, since recently I seem to have lost all our revisions at our local open science working group site http://cienciaaberta.net/ I have installed some plugins (before that, I made a backup of our database) and the revisions disappeared.

One of the things I discovered is that Wordpress has a very hidden select button in the up-right corner of the site to enable rev

[2013-08-12 20:20] rdonovan commented on #114
I've re-enabled revisions at WPE. Updating the WP_POST_REVISIONS in the wp-config.php turns back on all the interface elements that were switched off when we moved to WPE.

All revisions are stored in the DB and considering our migration included a full DB transition I expect that all the old revisions will still be there. However, as per WPE recommendations, I've set the limit on revisions to 3.

[2013-08-12 20:30] rdonovan opened #115 "Disable WP Admin file modifications"
This is not an issue, more of a notification.

Now that we have a smooth version controlled deployment procedure we should no longer be making code changes to WP or it's plugins and theme via the admin panel itself.

I've gone ahead and set define('DISALLOW_FILE_MODS',true) in our wp-config.php. This will prevent even super admins from using the file editor, installing/updating/removing themes and

[2013-08-12 21:32] rdonovan opened #116 "Site level admins edit users"
Also a notification, rather than an issue.

As described eloquently in this post (http://wordpress.stackexchange.com/a/17530), WP site level admins don't have permission to edit users on their own site. That is reserved for Super Admins. Unfortunately that doesn't fit the workflow for many of our sites.

Today I went ahead and applied the customisation detailed in this post to our sites. This shou

[2013-08-13 14:15] rufuspollock commented on #114
@rdonovan hmmm 3 revisions seems very low. Do we have a sense of what this would do and would it be possible to set this to unlimited until we decide what we want to do (will setting to 3 e.g. auto erase all the revisions we already had where we had more than 3 revs?)

[2013-08-13 14:38] rdonovan commented on #114
@rgrp I believe limiting to X revisions does start to delete earlier revisions once the limit is reached and new ones are created. I've gone ahead and changed this to unlimited for now, but I don't imagine it's a goo idea to leave that way forever.
We'll see if WPE say anything or if performance starts to degrade noticeably.

[2013-08-14 08:58] rufuspollock opened #117 "Space of titles on openglam.org blog page does not look right"
![blog openglam](https://f.cloud.github.com/assets/180658/960723/9312a49e-04bf-11e3-8ede-3c36df380bce.png)

Also note that spacing (and title size) does not look great on individual entry pages http://openglam.org/2013/08/13/getty-releases-4600-images-into-the-public-domain/

[2013-08-14 09:57] rufuspollock opened #118 "Proper set of basic icons (share, tools, advocacy, community) usable for stickers ..."
@jwyg created these. @jwyg: do you have source images?

tools and advocacy:

http://assets.okfn.org/files/talks/media/tools-and-community-brown-green.png
- Need to split into individual
- Get OKF logo / name in there somewhere
- Add an icon for community
- remove tool from the megaphone

Share flyer http://assets/files/talks/media/flyer-share-me.jpg
- Put OKF name / logo in there
- add data to the

[2013-08-16 16:54] smth commented on #112
I think this is due to the page title being an h2.

There is an SEO decision to be made here, i.e., should the h1 be a site-wide one, such as the strapline, or should it be the page title. Either way, we probably shouldn't be putting h1s into the page (a page should only have one h1 in my view).

In terms of visually defining the heading hierarchy, as it stands I think we do have the option to add

[2013-08-16 16:56] rufuspollock commented on #112
I'd suggest upping .page-title h2 or whatever it is at least for visual purposes (note h2 in page title is smaller than h2 in page - not just h1). Question of use of h1 in page (for SEO) or o/w is a different issue and hard to enforce so I'd suggest we just make the h2 of page title big enough to look appropriate :-)

[2013-08-16 17:01] smth commented on #112
Ok, we should probably make the page titles h1s then..

[2013-08-16 17:18] #112 closed, assigned to nobody

[2013-08-24 07:55] rufuspollock opened #119 "Adopt a size naming convention for standard logos and create those sizes"
At the moment http://okfn.org/media contains logos in a wide variety of sizes. It would be nice to:
- Have logos in at least 2-3 sizes (large, normal and (possibly) small)
- Adopt a naming convention for those (perhaps -l, -s for large and small ...)

[2013-08-24 07:56] rufuspollock commented on #119
@mintcanary something to think about - not immediate. Your thoughts welcome!

[2013-08-25 08:57] smth commented on #119
I think this is a good idea, is on my to-do list.

[2013-08-25 21:03] everton137 opened #120 "Problem with JQuery when we login in the Wordpress admin panel"
Here is the message we receive everytime on the admin panel of OKF Wordpress

And here is a possible solution

http://wordpress.org/support/topic/wordpress-36-and-jqueryblockui-version-problem-solution

[2013-08-26 08:51] smth commented on #120
Looks like the 'sidebar login' plugin was the culprit. Updating it has fixed this issue.

[2013-08-26 08:51] #120 closed, assigned to nobody

[2013-08-26 11:29] everton137 commented on #120
Thanks, @mintcanary !

[2013-08-27 17:07] LaurieJ opened #121 "disqus TOS may not be very compatible with OKF ideals"
Comments posted on disqus go under their TOS (http://help.disqus.com/customer/portal/articles/466260-terms-of-service ) whereas our commenter community may prefer to retain rights or have CC-BY or other open friendly licence.   (I've had a complaint from a high profile potential commenter that they won't use disqus)

Might be worth checking for more open options or solutions where content ownershi

[2013-08-27 22:04] everton137 commented on #121
I pointed this out a few months ago.

http://lists.okfn.org/pipermail/okfn-help/2013-January/002099.html

I am still not a high profile commenter :dancers:, but I think comments can be sometimes as important as blog posts.

This blog post at OKF Brasil site is an good example for that

http://br.okfn.org/2013/01/17/maturidade-em-dados-abertos-entenda-as-5-estrelas/

After some discussion, we hacke

[2013-08-29 19:37] #117 closed, assigned to nobody

[2013-09-02 15:45] smth commented on #118
I created new versions of these a while ago:
http://assets.okfn.org/images/icons/tools.svg
http://assets.okfn.org/images/icons/megaphone.svg

and here's a community one:
http://assets.okfn.org/images/icons/community.svg

Are you asking for the OKF logo to be on each icon?

I'm not sure what the 'share me' thing is used for, but I think it could probably be improved, in terms of use of space. I wou

[2013-09-03 11:01] smth commented on #119
I have now added dropdowns with three sizes for each logo on http://okfn.org/media/

[2013-09-03 11:01] #119 closed, assigned to smth

[2013-09-03 11:37] everton137 opened #122 "Source files of okfn.org/media/"
Hi, I saw the modifications at http://okfn.org/media/, which looks great, thanks!

Wouldn't be good to have the editable versions of these files as well? (SVG or even proprietary files used to generate the PDF or PNG versions, for instance)

This will help local groups to adapt to their contexts and/or languages.

[2013-09-03 11:57] smth commented on #122
Editable versions of logos are all there (as EPSs). Would it be useful to have InDesign packages for the print stuff?

[2013-09-03 12:02] everton137 commented on #122
@mintcanary , I don't have access to softwares to edit InDesign files, but I've found volunteers in Brazil who can help with that. So, yes, I think it would be really useful!

I didn't know EPS was editable, I thought only the SVG. Thanks!

[2013-09-03 13:15] smth commented on #122
Ok, I'll put it on my to-do list.

EPS and SVG are very similar, EPS is probably more editable in some respects, and is more of an industry standard.

[2013-09-13 16:01] nmashton opened #123 "Grainy user images on community.openspending.org"
We've had problems with mysteriously low-resolution user images on blog posts on [community.openspending.org](http://community.openspending.org) (formerly blog.os.org):
- [http://blog.openspending.org/2013/08/29/new-york-comptroller/](http://blog.openspending.org/2013/08/29/new-york-comptroller/)
- [http://community.openspending.org/2013/09/13/finance-data-standards/](http://community.openspending

[2013-09-13 16:14] smth commented on #123
To fix, either:

[code]

See https://github.com/okfn/wordpress-theme-okfn/issues/35

[2013-09-13 16:14] #123 closed, assigned to nobody

[2013-09-21 17:31] rufuspollock opened #124 "Apply standard okfn.org (or even ckan.org) styling to our docs theme"
docs theme is https://github.com/okfn/sphinx-theme-okfn (currently default old bootstrap ...)

[2013-09-23 17:07] smth commented on #113
Is this suggestion for the global (currently blog farm) search in the OKF expanding panel, or the site search on okfn.org (or both)?

Has there been any more discussion/thoughts on whether we should go ahead with this?

Including mailing lists and wikis, in the global search at least, seems like a good idea to me.

[2013-09-24 13:30] smth commented on #122
I think this is pretty complete now.

[2013-09-24 13:30] #122 closed, assigned to nobody

[2013-09-24 20:17] smth commented on #124
I'm not too familiar with Sphinx or our docs, but I could probably do this. A few questions:
- Is there anything from the existing theme that needs to be maintained, or could we start from scratch?
- Is there any benefit to including Bootstrap in this? Seems like it might just be needless bloat, we could just build on the default Sphinx theme.
- Does it need to mimic the OKF and/or CKAN sites? A d

[2013-09-25 09:12] rufuspollock commented on #124
Will get back to you on this.

[2013-09-25 18:23] LaurieJ commented on #53
I think this is basically done for now, although i'm sure enhancements could be made. Thanks @beatricemartini !

[2013-09-25 18:23] #53 closed, assigned to beatricemartini

[2013-09-25 18:25] LaurieJ opened #125 "standalone sign up page"
Although we have sign up on the front page, we also expected to have this as a standalone page with friendly URL (eg okfn.org/signup) This page should be linked from the Get Involved menu drop down.

As of this week there was a link but it went to a broken page (/5031 !) so I've changed that to just push the homepage (non ideal kludge).

We need a standalone sign up page  on /signup, which is link

[2013-09-25 18:29] LaurieJ opened #126 "stage one of sign up box appears broken"
I tried signing up using the sign up box on okfn.org.  I entered a name ("Hi There") and email and clicked Submit, got the longer questionnaire thing, and ignored it and left the page.

My email address hasn't received a mailchimp confirmation (some time later) which is what i'd expect so I'm worried that the sign up didn't take. We need the signup to work without requiring the questionnaire step

[2013-09-26 09:18] smth opened #127 "Open Data Introduction Slides"
The slideshow which has been embedded here
http://okfn.org/opendata/
seems to be triggering a bug in Firefox, causing the page to jump down upon loading.

This slidedeck looks a bit clumsy here anyway, so one solution would be to remove it and add the content into the page.

[2013-09-26 09:23] #77 closed, assigned to nobody

[2013-09-26 10:03] smth commented on #92
Closing. If anyone has any further suggestions for the footer, please reopen.

[2013-09-26 10:03] #92 closed, assigned to nobody

[2013-09-26 10:06] smth commented on #104
Superseded by #119

[2013-09-26 10:06] #104 closed, assigned to nobody

[2013-09-28 09:45] rufuspollock commented on #127
@mintcanary can we not do this without discussing ... (there is a reason it is a slideshow etc)

[2013-09-28 09:47] rufuspollock commented on #124
@mintcanary ok, i think i'd like to keep the bootstrap basis. It makes it easy to do certain things within the theme. Frankly I don't think we need to built off sphinx much (rather we re-incorporate some sphinx specific things we have to on top of bootstrap). Right now we could be very basic - just make it a bit lighter.

I'd suggest mimicking OKF default theme to start with (what would be perfect

[2013-09-30 07:40] smth commented on #127
Are you saying:
1. Remove the slidedeck, no need to discuss (but make sure it's still presented as a slideshow)
   or
2. Leave the slidedeck, end of discussion (the page is as intended)
   ?

[2013-09-30 08:48] rufuspollock commented on #127
I'm saying leave the slidedeck - if we could fix the bug that would be great ...

[2013-10-05 08:38] LaurieJ commented on #118
Not sure what work is left here - unless there's a request from Elaine or others in Network team, we have some basic sticker and bookmark designs that are ok for now (other than correcting the typos on existing print materials). This area is something where I'd expect our marketing team to be leading and therefore older requests should be viewed in the light of what is needed now by our specialist

[2013-10-08 11:08] smth commented on #127
Arguably not a bug: https://bugzilla.mozilla.org/show_bug.cgi?id=632321

That thread also offers work-around to use when embedding such iframes.

[2013-10-08 11:08] #127 closed, assigned to nobody

[2013-10-13 13:24] rufuspollock opened #128 "Turn off the annoying addition of url plus hash link whenever I past from a wordpress website"

[2013-10-13 15:06] everton137 commented on #128
Good idea!

[2013-10-18 10:11] harry-wood commented on #94
Another update:

Recently we ratcheted up the anti-spam a bit further. We used 'AbuseFilter' and set a rule which requires that any time anyone creates a new page they must write "NOTSPAM" somewhere within their edit comment. Added inconvenience for real users, but the spam page creations dropped off to zero. Additionally Joel put in a more advanced QuestyCaptcha which has stopped all the auto-reg

[2013-10-25 13:45] everton137 commented on #94
Please, see here: [Wiki revitalisation plan](http://wiki.okfn.org/Wiki_revitalisation_plan).

[2013-11-08 15:13] smth commented on #128
The ShareThis plugin seems a likely candidate for this annoyance. It has a feature called 'CopyNShare' that does this, though looking at the plugin settings it doesn't appear to be enabled (so I don't know how you'd go about disabling it).

"CopyNShare is the new ShareThis widget feature in open beta that enables you to track the shares that occur when a user copies and pastes your website's URL o

[2013-11-08 15:23] smth commented on #124
Isn't that what we already have here? http://assets.okfn.org/themes/okfn/

[code]

[2013-11-17 16:15] rufuspollock opened #129 "Use "featured image" feature of wordpress"
I'd like to suggest upgrading our home-grown solution with magazine-image to "featured image" https://codex.wordpress.org/Post_Thumbnails

I'd also like to suggest that we start using the same image both for display on front page, for thumbnails and for the default image in the post (we'd insert if user did not ...)

Lastly, but possibly relatedly, i think we should start storing more of our media

[2013-11-18 09:29] smth commented on #129
Definite +1

This is how it works with our other themes, and storing media in Wordpress instances is what I suggested in my proposal in August.

I can handle the changes to the theme functionality. @nickstenning would you like to look into backing up to s3, or perhaps uploading directly to s3 via Wordpress interface?

To clarify @rgrp, you'd like the image to be inserted at the start of the post (

[2013-11-18 11:38] everton137 commented on #129
Big +1.

This'd be a reliefe from an user point of view. Because of the bug that converting from Visual to HTML to VIsual mode strip HTML tags, hence stripping the <!- magazine.image = IMAGE_URL --> tag, that would facilitate our lifes when we need small adjustments and have to keep adding the featured image everytime.

[2013-11-18 12:25] smth commented on #129
First part ready to go here https://github.com/okfn/wordpress-theme-okfn/commit/af0b76c2184eb249e06208398e244bc94a664913

Note: This (or any other changes) cannot be put live at the moment, due to 'IT issues #4173' in Tender.

[2013-11-23 16:57] rufuspollock commented on #124
Yes, we just need to apply that to the sphinx stuff

[2013-11-25 09:20] smth commented on #124
OK. Do we know what sites are using this theme? Maybe I could use one for testing..

[2013-11-28 13:16] smth commented on #124
I've added the styling here https://github.com/okfn/sphinx-theme-okfn/pull/34
Would be good to be tested by someone who knows more about the "sphinx specific things".

[2013-11-30 10:38] rufuspollock commented on #124
FIXED. Plus closing in favour or relevant issue in sphinx theme repo https://github.com/okfn/sphinx-theme-okfn/issues/35

[2013-11-30 10:38] #124 closed, assigned to nobody

[2013-11-30 12:15] rufuspollock opened #130 "Use of bbpress (?)"
If one wanted a forum would use of bbpress be permitted / make sense?

[2013-12-03 15:50] smth commented on #129
This is now live. I have refrained from having the image automatically inserted into the post. It is easy to reuse the Featured Image in the post, via the Wordpress interface, and letting people do so manually will give them greater flexibility.

[2013-12-03 16:04] #129 closed, assigned to nickstenning

[2013-12-03 16:07] everton137 commented on #129
@mintcanary @nickstenning When you do these changes, are all local groups/chapters sites also updated?

[2013-12-03 16:17] smth commented on #129
If it's a change to theme (such as this), all sites on our blog farm, using that theme, will get the changes at the same time.

This was the only theme with this particular issue, so (assuming all the group/chapter sites are on our blog farm) every site previously affected, will have been updated.

[2014-03-07 23:51] everton137 commented on #94
A related topic at the main discussion page can be found here: http://wiki.okfn.org/Talk:Main_Page#Over_the_top_anti_spam_measures

[2014-03-11 15:16] nickstenning commented on #94
I've commented on this issue both on the above talk page and [on the `okfn-discuss` mailing list](https://lists.okfn.org/pipermail/okfn-discuss/2014-March/010165.html).

Do we need to keep this ticket open?

[2014-05-10 22:54] guibueno commented on #128
Thanks for identifying the responsible for it, @mintcanary. It's easy to fix, though:

On your wordpress, logged in admin, go to: Settings > ShareThis.
Click on the "[+]  Click to modify other widget options." option.
In the box, find something like:

stLight.options({publisher:'wp.12345679810'});var st_type='wordpress3.2.1';

And add "doNotHash:true" to it. It'll look like:

stLight.options({publ

[2015-10-26 17:35] mlinksva opened #131 "assets.okfn.org cookies cause privacybadger to block"
This affects https://github.com/okfn/opendefinition/issues/126 and probably lots of other sites https://github.com/search?utf8=%E2%9C%93&q=%22assets.okfn.org%22&type=Code&ref=searchresults

PrivacyBadger autodetects assets.okfn.org cookies across multiple domains and blocks it as a tracker.

Background: https://www.eff.org/privacybadger#faq-How-does-Privacy-Badger-work?

I suspect there is no reas

[2015-12-01 13:44] rufuspollock opened #132 "Rename all OK theme names to be "Open Knowledge X" rather than "OKFN X""